$SingleFeaturedCaseStudy-linkColor: red !default;
$self: '.IndividualCaseStudyTeaser';

.SingleFeaturedCaseStudy {
  .IndividualCaseStudyTeaser {
    @include breakpoint(medium) {
      #{$self}-link {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
      }
      #{$self}-imageWrapper {
        width: 40%;
      }
      #{$self}-image {
        height: 100%;
      }
      #{$self}-text {
        width: 60%;
        padding: 2rem 3rem;
      }
      @include breakpoint(large) {
        #{$self}-bullets {
          display: flex;
          flex-flow: wrap;

          > li {
            width: 50%;
            padding-right: 2rem;
          }
        }
      }

    }

  }

  .link {
    color: $SingleFeaturedCaseStudy-linkColor;

    &:hover {
      color: darken($SingleFeaturedCaseStudy-linkColor, 5%);
    }
  }
}
