.SocialShareTo {
  width: 100px !important; // sorry
  @include breakpoint($large) {
    padding-bottom: 3rem;
  }

  &-menu[class] {
    list-style: none;
    margin-left: 0 !important; // sorry

    > li {
      flex: 0 1 auto;
      @include breakpoint($large) {
        width: 100%;

      }
    }

    a[class] {
      text-decoration: none;
    }
  }

  @media print { /* Currently putting print styles WITH the component */
    display: none;
  }
}

#sticky-container {
  z-index: 18;
}
