.ProductComparisons {
  $self: &;

  .grid-container {
    @include breakpoint(large down) {
      padding-right: 0; /* per Melanie's request per her design, the chart should overflow to the right on tablet and mobile */
    }
  }

  &-chart {
    padding-bottom: 1rem;

    overflow-x: auto;
    /* Custom Scroll Bar - might move this out to its own snippet */
    scrollbar-width: thin;
    scrollbar-color: $yellow $gray--light;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $gray--medium;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
      position: relative;
    }

    /* end custom scroll bar*/
  }

  &-row {
    display: flex;
    min-width: 840px; /* Hmm, unsure of how to get this width. I need a min-width so that it overflows per the design */

    @include breakpoint(medium) {
      min-width: 1100px; /* Same as above - this is based on the design */
    }
    /* purposefully using classnames here instead of first-child/nth child to lessen load on browser processing */
    &-1 {
      #{$self}-cell {
        padding-top: 0;

        &Content {
          background: $blue--dark;
          color: $white;
          @include header-font-family-regular;
          @include breakpoint(medium) {
            font-size: rem-calc(18);
          }
        }


        &-1 {
          #{$self}-cellContent {
            background: none;
          }
        }

        &-2 {
          #{$self}-cellContent {
            background: $yellow;
            color: $blue--dark;
          }
        }
      }
    }

    &-last {
      #{$self}-cell {
        padding-bottom: 0;

        &Content {
          padding: .75rem;
          background: $red;
          color: $white;
          font-family: $header-font-family;
          text-transform: uppercase;

          //&Container {
          //  &Show {
          //    @include breakpoint(medium) {
          //      &::after {
          //        content: '\f0da';
          //        font-family: 'Font Awesome 5 Pro';
          //        font-weight: bold;
          //        padding-left: .5rem;
          //      }
          //    }
          //  }
          //}

          &:hover {
            background: darken($red, 5%);
          }
        }

        &-1 {
          #{$self}-cellContent {
            background: none;
          }
        }

        &-2 {
          #{$self}-cellContent {
            background: $yellow;
            color: $blue--dark;

            &ContainerShow {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

  }

  &-cell {
    width: 140px; /* I'm just following the design for this */
    padding: 2px;
    text-align: center;
    @include breakpoint(medium) {
      width: 200px;

    }

    &Content {
      background: $gray--light;
      padding: .75rem .5rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      &Container {
        width: 100%;
        line-height: 1.3; /* to match design */
      }
    }

    &-1 {
      padding-right: 4px;
      position: sticky;
      background: $white;
      left: 0;
      top: 0;

      #{$self}-cellContent {
        background: $blue;
        color: $white;
        @include header-font-family-regular;

        @include breakpoint(medium) {
          font-size: rem-calc(18);

        }
      }
    }

    &-2 {
      border-left: 3px solid $yellow;
      border-right: 3px solid $yellow;
      padding-left: 0;
      padding-right: 0;
    }

    &-3 {
      padding-left: 4px;
    }
  }

  @media print {
    display: none;
  }
}
