.ProductComparisons {
  $self: &;

  .grid-container {
    @include breakpoint($large down) {
      padding-right: 0; /* per Melanie's request per her design, the chart should overflow to the right on tablet and mobile */
    }
  }

  &-chart {
    overflow-x: auto;
    padding-bottom: 1rem;
    // Custom Scroll Bar - might move this out to its own snippet
    scrollbar-width: thin;
    scrollbar-color: $yellow $gray--light;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $gray--medium;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
      position: relative;
    }
  }

  &-row {
    display: flex;
    min-width: 840px; // Hmm, unsure of how to get this width. I need a min-width so that it overflows per the design

    @include breakpoint($medium) {
      min-width: 1100px; // Same as above - this is based on the design
    }

    // purposefully using classnames here instead of first-child/nth child to lessen load on browser processing
    &-1 {
      #{$self}-cell {
        padding-top: 0;

        &Content {
          @include header-font-family-regular;

          background: clr(primary-alt);
          color: clr(text-inverse);

          @include breakpoint($medium) {
            font-size: rem-calc(18px);
          }
        }

        &-1 {
          #{$self}-cellContent {
            background: none;
          }
        }

        &-2 {
          #{$self}-cellContent {
            background: clr(accent);
            color: clr(primary-alt);
          }
        }
      }
    }

    &-last {
      #{$self}-cell {
        padding-bottom: 0;

        &Content {
          background: clr(secondary);
          color: clr(text-inverse);
          font-family: $header-font-family;
          padding: 0.75rem;
          text-transform: uppercase;

          //&Container {
          //  &Show {
          //    @include breakpoint($medium) {
          //      &::after {
          //        content: '\f0da';
          //        font-family: $fontawesome-family;
          //        font-weight: bold;
          //        padding-left: .5rem;
          //      }
          //    }
          //  }
          //}

          &:hover {
            background: darken($red, 5%);
          }
        }

        &-1 {
          #{$self}-cellContent {
            background: none;
          }
        }

        &-2 {
          #{$self}-cellContent {
            background: clr(accent);
            color: clr(primary-alt);

            &ContainerShow {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &-cell {
    width: 140px; // I'm just following the design for this
    padding: 2px;
    text-align: center;

    @include breakpoint($medium) {
      width: 200px;
    }

    &Content {
      align-items: center;
      background: clr(background-section);
      display: flex;
      height: 100%;
      padding: 0.75rem 0.5rem;
      width: 100%;

      &Container {
        line-height: 1.3; // to match design
        width: 100%;
      }
    }

    &-1 {
      background: clr(background);
      left: 0;
      padding-right: 4px;
      position: sticky;
      top: 0;

      #{$self}-cellContent {
        @include header-font-family-regular;

        background: clr(primary);
        color: clr(text-inverse);

        @include breakpoint($medium) {
          font-size: rem-calc(18px);
        }
      }
    }

    &-2 {
      border-left: 3px solid clr(accent);
      border-right: 3px solid clr(accent);
      padding-left: 0;
      padding-right: 0;
    }

    &-3 {
      padding-left: 4px;
    }
  }

  @media print {
    display: none;
  }
}
