.BlueContentStrip {
  &-text-container {
    @include breakpoint(medium) {
      padding-right: 1.5rem;
    }
    @include breakpoint(large) {
      max-width: 400px;
    }
  }

  &-images {
    display: flex;
  }

  &-image {
    width: calc(50% - 2px);
    margin-right: 2px;
    padding-top: 65%;

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 2px;
    }
  }
}