{#
/**
 * @file
 * Template for Checkbox item
 *
 * Available variables:
 * - checkbox_base_class - the base classname
 * - checkbox_modifiers - array of modifiers to add to the base classname
 * - checkbox_item - the text associated with the checkbox
 * - checkbox_item_checked - boolean - whether the checkbox is selected
 */
#}
{% set checkbox_base_class = checkbox_base_class|default('Checkbox') %}

{% set checkbox_id = 'checkbox' ~ key %}

{% set checkbox_element %}
  <input id="{{ checkbox_id }}" name="checkbox" type="checkbox" class="Checkbox-input" {% if checkbox_item_checked %}checked="{{ checkbox_item_checked }}"{% endif %}>
  {{ checkbox_item }}
{% endset %}

<li class="{{ bem(checkbox_base_class, checkbox_modifiers) }}">
  {% include "@atoms/forms/Label/Label.twig" with {
    label_for: checkbox_id,
    label_content: checkbox_element,
  } %}
</li>
