.FilterClear {
  padding: 1rem 0;

  &-item {
    width: auto;
    padding: 0;
    line-height: 1.3;

    @include breakpoint(large) {
      margin-left: 0.5rem;
    }

    .LinkButton {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }
  }

  &-clearAll {
    flex: 0 1 auto;
    width: 100%;

    .button {
      @include breakpoint(small only) { /* literally only for small screens */
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    @include breakpoint(medium) {
      flex-shrink: 1;
      min-width: 7rem;
      width: auto;
    }
  }

  &-clearIndividually {
    flex: 0 1 auto;
    width: 100%;

    @include breakpoint(medium) {
      flex-grow: 1;
      width: auto;
    }
  }

  button {
    margin-bottom: 0;
    cursor: pointer;
  }
}
