.Breadcrumb {
  padding: .25rem 0 .5rem;
  background: $light-gray;
  font-size: rem-calc(14);
  @include header-font-family-regular;

  a {
    font-family: $header-font-family;
  }
  &-separator {
    padding: 0 .5rem;
  }
}
