$Breadcrumb-fontFamily: sans-serif !default;

.Breadcrumb {
  @include header-font-family-regular;

  background: color(background-section);
  font-size: rem-calc(14);
  padding: 0.25rem 0 0.5rem;

  a {
    font-family: $Breadcrumb-fontFamily;
  }

  &-separator {
    padding: 0 0.5rem;
  }
}
