$IndividualPostTeaser-dateColor: #686868 !default;

.IndividualPostTeaser {
  &-image {
    padding-top: 66.6667%;
    margin-bottom: 1rem;
  }

  &-date {
    color: $IndividualPostTeaser-dateColor;
  }
}
