$OffCanvasFilter-headerOffset: calc(100vh - 104px); /* 104 is the header height on the off canvas filter */

.OffcanvasFilter {
  background: $gray--light;

  &-header {
    background: $white;
    padding: .5rem 0;
    border-bottom: 1px solid $gray--medium;

    .button, h2 {
      margin-bottom: 0;
    }
  }

  &-title {
    padding-right: 1rem;
  }

  &-body {
    background: $gray--light;
    padding-top: 1rem;
    height: $OffCanvasFilter-headerOffset;
    overflow-y: scroll;
    position: relative;
  }

  .ProductListingFilter-accordion {
    &:first-of-type {
      border-top: 0;
    }
  }
}
