$OffcanvasCart-close-button-color: clr(secondary) !default;
$OffcanvasCart-padding-top: 1rem !default;
$OffcanvasCart-scrollbar-background-color: clr(background-section) !default;
$OffcanvasCart-scrollbar-foreground-color: clr(accent) !default;
$OffcanvasCart-width: 95% !default;
$OffcanvasCart-width-medium: 75% !default;
$OffcanvasCart-width-large: 600px !default;

.OffcanvasCart {
  padding-top: $OffcanvasCart-padding-top;
  width: $OffcanvasCart-width;
  z-index: 110 !important;
  // Custom Scroll Bar - might move this out to its own snippet
  scrollbar-width: thin;
  scrollbar-color: $OffcanvasCart-scrollbar-foreground-color $OffcanvasCart-scrollbar-background-color;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $OffcanvasCart-scrollbar-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $OffcanvasCart-scrollbar-foreground-color;
    position: relative;
  }

  @include breakpoint(medium) {
    width: $OffcanvasCart-width-medium;
  }

  @include breakpoint(large) {
    width: $OffcanvasCart-width-large;
  }

  .close-button {
    color: $OffcanvasCart-close-button-color;
  }

  .button {
    margin-bottom: 0;
  }

  &-top {
    margin-bottom: 1rem;
    padding-right: 1.5rem;
  }
}
