$offcanvas-cart-close-button-color: clr(secondary) !default;
$offcanvas-cart-padding-top: 1rem !default;
$offcanvas-cart-scrollbar-background-color: clr(background-section) !default;
$offcanvas-cart-scrollbar-foreground-color: clr(accent) !default;
$offcanvas-cart-width: 95% !default;
$offcanvas-cart-width-medium: 75% !default;
$offcanvas-cart-width-large: 600px !default;

.OffcanvasCart {
  padding-top: $offcanvas-cart-padding-top;
  width: $offcanvas-cart-width;
  z-index: 110 !important;

  @include breakpoint(medium) {
    width: $offcanvas-cart-width-medium;
  }
  @include breakpoint(large) {
    width: $offcanvas-cart-width-large;
  }

  .close-button {
    color: $offcanvas-cart-close-button-color;
  }

  .button {
    margin-bottom: 0;
  }

  &-top {
    margin-bottom: 1rem;
    padding-right: 1.5rem;
  }

  /* Custom Scroll Bar - might move this out to its own snippet */
  scrollbar-width: thin;
  scrollbar-color: $offcanvas-cart-scrollbar-foreground-color $offcanvas-cart-scrollbar-background-color;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $offcanvas-cart-scrollbar-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $offcanvas-cart-scrollbar-foreground-color;
    position: relative;
  }
  /* end custom scroll bar*/
}
