{#
/**
 * @file
 * ResourcesSearchBar
 * for Product Sell Sheets, Technical Data Sheets
 * used on Resources Listing Page
 *
*/
#}


{% set replace__base_class = replace__base_class|default('ResourcesSearchBar') %}
{% set replace__extra_classes = replace__extra_classes|default(['bg-blue']) %}

<div {{ suit(replace__base_class, replace__modifiers, replace__blockname, replace__extra_classes) }}>
  <div class="grid-container">
    <div class="SearchBar vertical-center">
      <div
        {{ suit('label', replace__modifiers, replace__base_class, ['HeaderFont','uppercase'] ) }}>Search Documents
      </div>
      <div class="SearchInput SearchBar-inputWrap">
        <span class="SearchInput-icon SearchBar-searchIcon fas fa-search"></span><input
          class="SearchInput-input SearchBar-input" type="text" placeholder="Search"/>
      </div>
      <div class="SearchBar-buttonWrap">
        <button class="SearchBar-button button">Search <span class="fas fa-caret-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
