{% set link_url = item.url %}
{% set link_base_class = 'Link' %}
{% set link_modifiers = item_modifiers %}
{% set link_blockname = menu_class %}

{% extends '@atoms/links/Link/Link.twig' %}
{% block link_content %}
  {% include '@atoms/images/Icons/Icon.twig' with {
    icon_name: item.icon,
    icon_blockname: menu_class,
  } %}
  <span {{ suit('text', [], menu_class) }}>{{ item.title }}</span>
{% endblock %}
