/// @todo Add background image positioning and size and repeat

/* the height controls how large the image is, and how much overlap there is */
$CustomizationCallout-image-large-height: 195% !default;
$CustomizationCallout-image-xlarge-height: 230% !default;
$CustomizationCallout-border-color: red !default;

.CustomizationCallout {
  padding: 0;

  &-top {
    padding: 1.25rem 0 0;

    &-image {
      margin-bottom: 1rem;

      @include breakpoint(medium) {
        margin-bottom: 0;
        padding-right: 1rem;
      }

      &-container {
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        padding-top: 40%;
        width: 50%;

        @include breakpoint(medium) {
          height: calc(100% + 1rem);
          width: 100%;
        }

        @include breakpoint(large) {
          height: $CustomizationCallout-image-large-height;
          padding-top: 10%;
        }

        @include breakpoint(xlarge) {
          height: $CustomizationCallout-image-xlarge-height;
        }
      }
    }

    &-text {
      padding: 0.5rem 0;
    }
  }

  &-bottom {
    padding: 1rem 0;

    @include breakpoint(medium) {
      padding: 2.5rem 0 1.5rem;
    }

    @include breakpoint(large) {
      padding: 1.5rem 0;
    }

    &-left {
      border-bottom: 1px solid $CustomizationCallout-border-color;

      @include breakpoint(medium) {
        border-bottom: 0;
        border-right: 1px solid $CustomizationCallout-border-color;
        padding-right: 3rem;
      }
    }

    &-right {
      @include breakpoint(small only) {
        padding-top: 1rem;
      }

      @include breakpoint(medium) {
        padding-left: 3rem;
      }
    }
  }
}
