.MSISlider {
  position: relative;
  padding-bottom: 2rem;

  .slick-slide {
    padding: 0;
  }

  .slick-prev, .slick-next {
    width: 80px;
    height: 27px;
    background: $red;
    border: 1px solid $white;
    position: absolute;
    bottom: 0;
    top: auto;
    @include transition;

    &:hover {
      background: darken($red, 5%);
    }

    &::before {
      font-family: $font-family-fontawesome;
      font-weight: bold;
      opacity: 1;
    }
  }

  .slick-next {
    right: calc(50% - 83px);

    &::before {
      content: '\f30b';

    }
  }

  .slick-prev {
    left: calc(50% - 83px);

    &::before {
      content: '\f30a';
    }
  }
}
