// Storybook styling
.IconsDemo {
  display: flex;
  flex-wrap: wrap;

  .Icon {
    height: 100px;
    padding: $space;
    width: 100px;

    @media (prefers-color-scheme: dark) {
      fill: clr(secondary);
    }
  }

  pre {
    background-color: clr(background-section);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }

  &-item {
    border: 1px solid clr(background-section);
    margin: $space-one-fourth;
  }
}
