{% set place_holder__base_class = 'place-holder' %}

<section {{ suit(place_holder__base_class) }}>
  <div {{ suit('content', place_holder__modifiers, place_holder__base_class) }}>
    {{ place_holder|default('Place holder') }}
  </div>
</section>
