.Card {
  $self: &;

  a {
    background: $white;
    display: block;
    h3 {
      color: $red;
    }
  }

  &-text {
    padding: 1rem;
    @include breakpoint($medium) {
      padding: 1.25rem;
    }
    @include breakpoint($large) {
      padding: 2rem 1.5rem;
    }

    #{$self}--tight-space & {
      padding: 1rem .5rem;
      @include breakpoint($medium) {
        padding: 1.25rem .5rem;
      }
    }



    p {
      color: $gray--dark;
    }
  }

  &-image {
    padding-top: 66.6667%;
  }
}
