// SearchInput Styling, used on ResourcesSearchBar and the header Search
$SearchInput-icon-color: clr(primary) !default;
$SearchInput-icon-color--hover: clr(primary-alt) !default;

.SearchInput {
  $self: &;

  position: relative;
  padding: 10px; // this helps with the icon position.

  &-icon {
    position: absolute;
    top: 22px; // absolutely positioned because inputs cant do pseudo elements
    left: 25px;
    color: $red;
    font-size: rem-calc(14px);
  }

  &-input {
    margin-bottom: 0;
    height: 35px;
    padding-left: 35px;

    &::placeholder {
      font-style: italic;
      color: $gray--dark;
      font-size: rem-calc(14px);
    }
  }

  &--withButton {
    padding: 0;

    #{$self}-icon {
      position: relative;
      top: auto;
      left: auto;
      width: 40px;
      cursor: pointer;
      background: $SearchInput-icon-color;
      color: $white;
      @include transition;

      &:hover {
        background: $SearchInput-icon-color--hover;
      }
    }

    #{$self}-form {
      display: flex;
    }

    #{$self}-input {
      width: calc(100% - 40px);
      padding-left: 1rem;
    }

  }
}
