.RadioButtons {
  list-style-type: none;

  &-combo {
    position: relative;
  }

  &-input[type="radio"] {
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;

    + label {
      background: clr(background);
      border: 1px solid clr(primary);
      color: clr(primary);
      margin: 0;
    }

    &:checked + label,
    .Checked + label {
      background: clr(primary);
      color: clr(text-inverse);
    }
  }

  &-button {
    @include transition;

    height: 100%;
    margin: 0;
    width: 100%;
    z-index: 10;

    &.active {
      border: 2px solid clr(primary);
    }
  }
}

// Standard radio inputs
.Radios {
  list-style-type: none;
  margin: 0;
}

.Radio {
  padding: 0.5rem 0;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }

  &-input[type="radio"] {
    position: absolute;
    visibility: hidden;
    width: 1px;

    + .Label {
      margin-left: 0;
      padding-left: 40px;
      position: relative;

      &::before {
        background-color: clr(background);
        border: 1px solid clr(primary);
        border-radius: 20px;
        content: '';
        display: block;
        height: 20px;
        left: 0;
        line-height: 1em;
        position: absolute;
        text-align: center;
        top: 4px;
        width: 20px;
      }
    }

    &:checked {
      + .Label {
        font-family: $header-font-family;

        &::before {
          background: clr(primary);
        }
      }
    }
  }
}
