.BodyCopy {
  position: relative;
  padding-bottom: 4rem;

  &-container {
    border: 1px solid $gray--medium;
    position: relative;
    top: -8rem;
    background: $white;
    padding: 1.5rem;
    margin-bottom: -8rem;
    @include breakpoint(medium) {
      padding: 3rem 2rem;
    }
  }

  &-header {
    margin-bottom: 1.5rem;
  }
}
