$BodyCopy-border: 1px solid #333 !default;
$BodyCopy-background: #fff !default;

.BodyCopy {
  position: relative;
  padding-bottom: 4rem;

  &-container {
    border: $BodyCopy-border;
    position: relative;
    top: -8rem;
    background: $BodyCopy-background;
    padding: 1.5rem;
    margin-bottom: -8rem;
    @include breakpoint(medium) {
      padding: 3rem 2rem;
    }
  }

  &-header {
    margin-bottom: 1.5rem;
  }
}
