$IndividualProductTeaserTiny-hoverBackground: #eee !default;
$IndividualProductTeaserTiny-textColor: #686868 !default;
$IndividualProductTeaserTiny-smallFontSize: .875rem !default;

.IndividualProductTeaserTiny {
  //margin-bottom: .75rem;
  padding: .5rem;

  &:hover {
    background: $IndividualProductTeaserTiny-hoverBackground;
  }

  &--noHover {
    &:hover {
      background: initial;
    }
  }

  &-title {
    line-height: 1.1;
    margin-bottom: .5rem;
  }

  &-text {
    padding-left: .5rem;
  }

  &-teaser {
    color: $IndividualProductTeaserTiny-textColor;

    p {
      font-size: $IndividualProductTeaserTiny-smallFontSize;
      margin-bottom: 0;
    }
  }

  &-price {
    display: flex;
    align-items: flex-end;
    color: $IndividualProductTeaserTiny-textColor;

    p {
      font-size: $IndividualProductTeaserTiny-smallFontSize;
      margin-bottom: 0;
    }
  }

  &WithPrice {
    margin-bottom: .5rem;
  }
}
