<!DOCTYPE html>
<!-- this is not being used anywhere, I'm just keeping it for reference - Scott's original -->
<html>
	<head>
		<style>
			:root {
				--color--yellow: #ffd700;
				--color--green: #008000;
				--color--red: #b22222;
				--color--blue: #0000ff;
				--color--white: #ffffff;
				--color--black: #000000;
				--color--orange: #ff4500;
				--tag-background: var(--color--yellow);
				--tag-text: var(--color--black);
			}
			html {
				font-size: 16px;
			}
			body {
				margin: 0;
				padding: 0;
			}
			.container {
				display: grid;
				grid-template-columns: 4fr 1fr;
				gap: 1rem;
			}
			.color-options {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.color-options label {
				padding: .5rem;
				margin: .5rem;
				box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
			}
			.canvas {
				padding: 1rem;
			}
			.TagBackground {
				fill: var(--tag-background);
				stroke: var(--color--black);
			}
			.Tag--Legend--System,
			.Tag--Legend--Number {
				fill: var(--tag-text);
			}
			.Mounting--Option {
				fill:var(--color--white);
				stroke:var(--color--black);
			}
		</style>
	</head>
	<body>
		<div id="app" class="container">
			<main class="canvas">
				<svg
				  xmlns:svg="http://www.w3.org/2000/svg"
				  xmlns="http://www.w3.org/2000/svg"
				  viewBox="0 0 400 200"
				  width="100%"
				  height="100%"
				  class="TagRectangle"
				>					
					<rect
						class="TagBackground"
						:style="backgroundColor"
						width="400"
						height="200"
					/>
					<text
						x="200"
						y="50"
						class="Tag--Legend--System"
						:style="textColor"
						text-anchor="middle"
						>
						{{ system }}
					</text>
					<text 
						x="200"
						y="100"
						class="Tag--Legend--Number"
						:style="textColor"
						text-anchor="middle"
						>
						{{ number }}
					</text>
					<g id="mountingOption1" v-if="mounting == 0 || mounting == 5">
						<circle
							class="TagHole--Top-Center Mounting--Option"
							cx="200"
							cy="15"
							r="10"
						/>
					</g>
					<g id="mountingOption2" v-if="mounting == 1 || mounting == 6">
						<circle
							class="TagHole--Left-Center Mounting--Option"
							r="10"
							cx="15"
							cy="90"
						/>
					</g>
					<g id="mountingOption3" v-if="mounting == 2 || mounting == 7">
						<circle
							class="Mounting--Option"
							r="10"
							cx="15"
							cy="90"
						/>
						<circle
							class="Mounting--Option"
							r="10"
							cx="385"
							cy="90"
						/>
					</g>
					<g id="mountingOption4" v-if="mounting == 3 || mounting == 8">
						<circle
							class="Mounting--Option"
							r="10"
							cx="15"
							cy="15"
						/>
						<circle
							class="Mounting--Option"
							r="10"
							cx="385"
							cy="15"
						/>
						<circle
							class="Mounting--Option"
							r="10"
							cx="385"
							cy="185"
						/>
						<circle
							class="Mounting--Option"
							r="10"
							cx="15"
							cy="185"
						/>
					</g>


				</svg>
			</main>
			<aside>
				<form>
					<fieldset>
						<legend>Configure your tag</legend>
						<div class="field">
							<h3>Color {{ color }}</h3>
							<div class="options color-options">
								<label for="colorYellow" style="background-color:var(--color--yellow);">
									<input
										type="radio"
										name="color"
										value="yellow"
										id="colorYellow"
										class="color-option"
										data-color="yellow"
										v-model="color"
										checked
										>
									Yellow
								</label>
								<label for="colorGreen" style="background-color:var(--color--green);color:var(--color--white);">
									<input
										type="radio"
										name="color"
										value="green"
										id="colorGreen"
										class="color-option"
										data-color="green"
										v-model="color"
										>
									Green
								</label>
								<label for="colorRed" style="background-color:var(--color--red);color:var(--color--white);">
									<input
										type="radio"
										name="color"
										value="red"
										id="colorRed"
										class="color-option"
										data-color="red"
										v-model="color"
										>
									Red
								</label>
								<label for="colorBlue" style="background-color:var(--color--blue);color:var(--color--white);">
									<input
										type="radio"
										name="color"
										value="blue"
										id="colorBlue"
										class="color-option"
										data-color="blue"
										v-model="color"
										>
									Blue
								</label>
								<label for="colorWhite" style="background-color:var(--color--white);">
									<input
										type="radio"
										name="color"
										value="white"
										id="colorWhite"
										class="color-option"
										data-color="white"
										v-model="color"
										>
									White
								</label>
								<label for="colorBlack" style="background-color:var(--color--black);color:var(--color--white);">
									<input
										type="radio"
										name="color"
										value="black"
										id="colorBlack"
										class="color-option"
										data-color="black"
										v-model="color"
										>
									Black
								</label>
								<label for="colorOrange" style="background-color:var(--color--orange);">
									<input
										type="radio"
										name="color"
										value="orange"
										id="colorOrange"
										class="color-option"
										data-color="orange"
										v-model="color"
										>
									Orange
								</label>
							</div>
						</div>
						<div class="field">
							<h3>Mounting</h3>
							<select id="mounting" v-model="mounting">
								<option disabled selected>- Select a Mounting Option -</option>
								<option value="0">Top Hole with Grommet</option>
								<option value="1">Left Side Hole with Grommet</option>
								<option value="2">Left and Right Side Hole with Grommets</option>
								<option value="3">Four Corner Holes with Grommets</option>
								<option value="4">Adhesive Only</option>
								<option value="5">Top Hole (Grommet) with Adhesive</option>
								<option value="6">Left Side Hole (Grommet) with Adhesive</option>
								<option value="7">Left and Right Side Holes (Grommets) with Adhesive</option>
								<option value="8">Four Corner Holes (Grommets) with Adhesive</option>
							</select>
						</div>
						<div class="field">
							<h3>Legend</h3>
							<div class="field">
								<label for="legendSystem">System</label>
								<input
								  type="text"
								  name="legend-system"
								  id="legendSystem"
								  maxlength="40"
								  v-model="system"
								  >
							</div>
							<div class="field">
								<label for="legendNumber">Number</label>
								<input
									type="number"
									name="legend-number"
									id="legendNumber"

									v-model="number"
									>
							</div>
						</div>
					</fieldset>
				</form>
			</aside>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					system: '',
					number: '',
					color: 'yellow',
					mounting: 0
				},
				computed: {
					textColor () {
						const dark = ['red', 'blue', 'black', 'green']
						if ( dark.includes(this.color) ) {
							return '--tag-text: var(--color--white)'
						}
					},
					backgroundColor () {
						return {
							'--tag-background': 'var(--color--' + this.color + ')' 
						}
					},
					mountingConfiguration() {

					}
				}
			})
		</script>
	</body>
</html>
