.SearchResult {
  padding: 2rem 0;
  border-bottom: 1px solid $gray--light;

  &-type {
    padding: .25rem .5rem;
    //font-size: rem-calc(14);
    text-align: right;
    font-weight: 600;
  }

  &-image {
    margin-bottom: 1rem;
    @include breakpoint($large) {
      margin-bottom: 0;
    }
  }

  &--download {
    .SearchResult-image {
      @include drop-shadow;
    }
  }

}
