{#
/**
 * @file
 * Email A Rep
 * hardcoded, will need to refactor
*/
#}

<div id="EmailARep" class="EmailARep reveal" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2>Contact Sales Representative</h2>
    <p>Send message to: [Rep's name here]</p>
    <!-- BEGIN COPIED STUFF FROM GOODWAY -- CHANGES TO HTML WAS ADDING THE FA ICON TO THE SUBMIT BUTTON, REMOVING REQUIRED FROM TEXTAREA, REMOVING A FEW SECTIONS
     https://www.goodway.com/contact-us/sales-rep-locator?region=176
     -->
    <form class="contact-message-sales-rep-contact-form contact-message-form contact-form antibot Form"
          data-user-info-from-browser="" data-drupal-selector="contact-message-sales-rep-contact-form-if0ci8n0ufm"
          data-action="/entity_reference_dialog_formatter/contact_form/sales_rep_contact?edit%5Bfield_sales_rep%5D%5Bwidget%5D=14"
          action="/entity_reference_dialog_formatter/contact_form/sales_rep_contact?edit%5Bfield_sales_rep%5D%5Bwidget%5D=14"
          method="post" id="contact-message-sales-rep-contact-form--If0Ci8n0ufM" accept-charset="UTF-8"
          data-drupal-form-fields="edit-field-sales-rep--o4gBL4rIAjQ,edit-field-region--PPQSGfRyhh4,edit-field-name-0-given--NvDaA_kVwj4,edit-field-name-0-family--dQCtWm4EB_w,edit-mail--rmwHX0vmnJY,edit-field-company-name-0-value--VmYh5plJawM,edit-field-title-0-value--HsLr9ihYa9I,edit-field-type-of-business-0-value--xxX7gy0kywE,edit-field-zip-0-value--vbuR0A5DXOg,edit-field-phone-0-value--6nc2MNBh1HQ,edit-message-0-value--QyIBroqmUJc,edit-submit--3gHG-mESfz8"
          _lpchecked="1">
        <noscript>
            <div class="antibot-no-js antibot-message antibot-message-warning">You must have JavaScript enabled to use
                this form.
            </div>
        </noscript>
        <div class="field--type-entity-reference field--name-field-sales-rep field--widget-options-select prepopulate-hide js-form-wrapper js-FormWrapper FormWrapper Form-wrapper"
             data-drupal-selector="edit-field-sales-rep-wrapper" id="edit-field-sales-rep-wrapper--iGPceB_-UHU"
             style="display: none;">
            <div class="js-form-item FormItem js-FormItem FormItem--type-select FormItem--field-sales-rep js-form-type-select form-type-select js-form-item-field-sales-rep js-FormItem-field-sales-rep form-item-field-sales-rep">
                <label for="edit-field-sales-rep--o4gBL4rIAjQ" class="js-form-required form-required FormElement-label">Sales
                    rep</label>
                <div class="FormItem-children"><select data-drupal-selector="edit-field-sales-rep"
                                                       class="float-labels-include form-select required FormElement-select"
                                                       id="edit-field-sales-rep--o4gBL4rIAjQ" name="field_sales_rep"
                                                       required="required" aria-required="true"
                                                       style="display:visible; position:absolute; width:0px; height: 0px; clip:rect(0,0,0,0)"
                                                       tabindex="-1">
                        <option value="_none"> - Sales rep -</option>
                        <option value="3">Andy Downing</option>
                        <option value="15">Bill Griffin</option>
                        <option value="7">Brian Lesnick</option>
                        <option value="5">Call Goodway</option>
                        <option value="18">Charles McNamara</option>
                        <option value="20">Evan Reyes</option>
                        <option value="6">Gary Heitzenroder</option>
                        <option value="4">Gregg Gallo</option>
                        <option value="16">Jeff Wright</option>
                        <option value="24">Jesus Tueme</option>
                        <option value="11">John Seredinsky</option>
                        <option value="9">Mark Roth</option>
                        <option value="12">Mark Rubush</option>
                        <option value="29">Matt Reilly</option>
                        <option value="22">Matt Siegel</option>
                        <option value="10">Matthew Mindlin</option>
                        <option value="13">Ryan Batkay</option>
                        <option value="2">Sean Moynihan</option>
                        <option value="21">Thomas Donohoe</option>
                        <option value="25">Tyler Keppler</option>
                        <option value="14" selected="selected">Victor Crespo</option>
                    </select>
                    <div class="float-labels-wrapper float-labels-required float-labels-star"><label
                                class="float-labels-label" for="edit_field_sales_rep__o4gBL4rIAjQ_chosen"></label>
                        <div class="chosen-container chosen-container-single float-labels-include form-select required FormElement-select float-labels-item float-labels-processed"
                             title="" id="edit_field_sales_rep__o4gBL4rIAjQ_chosen" style="width: 585.6px;"><a
                                    class="chosen-single">
                                <span>Victor Crespo</span>
                                <div><b></b></div>
                            </a>
                            <div class="chosen-drop">
                                <div class="chosen-search">
                                    <input class="chosen-search-input" type="text" autocomplete="off">
                                </div>
                                <ul class="chosen-results"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input autocomplete="off" data-drupal-selector="form-ty-vvvekd7snfaplfj5f-lx5moxb8k-1kqdfcj7f9gi" type="hidden"
               name="form_build_id" value="form-tY_vvVekd7snfAplFJ5f_lX5moXB8k_1kQdFCj7F9GI" class="FormItem-input">
        <input data-drupal-selector="edit-contact-message-sales-rep-contact-form-w0e5vaucm5m" type="hidden"
               name="form_id" value="contact_message_sales_rep_contact_form" class="FormItem-input">
        <input data-drupal-selector="edit-antibot-key" type="hidden" name="antibot_key"
               value="4pAVqkHvFC_7rxvmnzu-87ynmSs71K4G-0g6YcCxMDE" class="FormItem-input">
        <div class="field--type-entity-reference field--name-field-region field--widget-options-select js-form-wrapper js-FormWrapper FormWrapper Form-wrapper"
             data-drupal-selector="edit-field-region-wrapper" id="edit-field-region-wrapper--7bg2zjAwLDQ"
             style="display: none;">
            <div class="js-form-item FormItem js-FormItem FormItem--type-select FormItem--field-region js-form-type-select form-type-select js-form-item-field-region js-FormItem-field-region form-item-field-region">
                <label for="edit-field-region--PPQSGfRyhh4" class="FormElement-label">Region</label>
                <div class="FormItem-children"><select data-drupal-selector="edit-field-region"
                                                       class="float-labels-include form-select FormElement-select"
                                                       id="edit-field-region--PPQSGfRyhh4" name="field_region"
                                                       style="display:visible; position:absolute; width:0px; height: 0px; clip:rect(0,0,0,0)"
                                                       tabindex="-1">
                        <option value="_none"> - Region -</option>
                        <option value="146">United States</option>
                        <option value="150">-Alabama</option>
                        <option value="199">-Alaska</option>
                        <option value="200">-Arizona</option>
                        <option value="147">-Arkansas</option>
                        <option value="204">-California</option>
                        <option value="201">-Colorado</option>
                        <option value="177">-Connecticut</option>
                        <option value="156">-Delaware</option>
                        <option value="153">-Dist. of Columbia</option>
                        <option value="148">-Florida</option>
                        <option value="207">-Georgia</option>
                        <option value="202">-Hawaii</option>
                        <option value="162">-Idaho</option>
                        <option value="198">-Illinois</option>
                        <option value="183">-Indiana</option>
                        <option value="212">-Iowa</option>
                        <option value="163">-Kansas</option>
                        <option value="205">-Kentucky</option>
                        <option value="208">-Louisiana</option>
                        <option value="157">-Maine</option>
                        <option value="154">-Maryland</option>
                        <option value="178">-Massachusetts</option>
                        <option value="184">-Michigan</option>
                        <option value="174">-Minnesota</option>
                        <option value="158">-Mississippi</option>
                        <option value="164">-Missouri</option>
                        <option value="165">-Montana</option>
                        <option value="159">-Nebraska</option>
                        <option value="166">-Nevada</option>
                        <option value="160">-New Hampshire</option>
                        <option value="181">-New Jersey</option>
                        <option value="179">-New Mexico</option>
                        <option value="182">-New York</option>
                        <option value="151">-North Carolina</option>
                        <option value="167">-North Dakota</option>
                        <option value="175">-Ohio</option>
                        <option value="168">-Oklahoma</option>
                        <option value="206">-Oregon</option>
                        <option value="172">-Pennsylvania</option>
                        <option value="180">-Rhode Island</option>
                        <option value="152">-South Carolina</option>
                        <option value="169">-South Dakota</option>
                        <option value="161">-Tennessee</option>
                        <option value="209">-Texas</option>
                        <option value="149">-Utah</option>
                        <option value="203">-Vermont</option>
                        <option value="155">-Virginia</option>
                        <option value="170">-Washington</option>
                        <option value="173">-West Virginia</option>
                        <option value="176" selected="selected">-Wisconsin</option>
                        <option value="171">-Wyoming</option>
                        <option value="617">Afghanistan</option>
                        <option value="618">Albania</option>
                        <option value="619">Algeria</option>
                        <option value="620">Andorra</option>
                        <option value="621">Angola</option>
                        <option value="622">Antigua and Barbuda</option>
                        <option value="623">Argentina</option>
                        <option value="624">Armenia</option>
                        <option value="625">Australia</option>
                        <option value="626">Austria</option>
                        <option value="627">Azerbaijan</option>
                        <option value="628">Bahamas</option>
                        <option value="629">Bahrain</option>
                        <option value="630">Bangladesh</option>
                        <option value="631">Barbados</option>
                        <option value="632">Belarus</option>
                        <option value="633">Belgium</option>
                        <option value="634">Belize</option>
                        <option value="635">Benin</option>
                        <option value="636">Bhutan</option>
                        <option value="637">Bolivia</option>
                        <option value="638">Bosnia and Herzegovina</option>
                        <option value="639">Botswana</option>
                        <option value="640">Brazil</option>
                        <option value="641">Brunei</option>
                        <option value="642">Bulgaria</option>
                        <option value="643">Burkina Faso</option>
                        <option value="644">Burundi</option>
                        <option value="645">Cabo Verde</option>
                        <option value="646">Cambodia</option>
                        <option value="647">Cameroon</option>
                        <option value="210">Canada</option>
                        <option value="185">-Alberta</option>
                        <option value="186">-British Columbia</option>
                        <option value="187">-Manitoba</option>
                        <option value="188">-New Brunswick</option>
                        <option value="189">-Newfoundland</option>
                        <option value="190">-Northwest Territories</option>
                        <option value="191">-Nova Scotia</option>
                        <option value="192">-Nunavut</option>
                        <option value="193">-Ontario</option>
                        <option value="194">-Prince Edward Island</option>
                        <option value="195">-Quebec</option>
                        <option value="196">-Saskatchewan</option>
                        <option value="197">-Yukon</option>
                        <option value="648">Central African Republic</option>
                        <option value="649">Chad</option>
                        <option value="650">Chile</option>
                        <option value="284">China</option>
                        <option value="651">Colombia</option>
                        <option value="652">Comoros</option>
                        <option value="653">Congo, Democratic Republic of the</option>
                        <option value="654">Congo, Republic of the</option>
                        <option value="655">Costa Rica</option>
                        <option value="656">Cote d'Ivoire</option>
                        <option value="657">Croatia</option>
                        <option value="658">Cuba</option>
                        <option value="659">Cyprus</option>
                        <option value="660">Czech Republic</option>
                        <option value="285">Denmark</option>
                        <option value="661">Djibouti</option>
                        <option value="662">Dominica</option>
                        <option value="663">Dominican Republic</option>
                        <option value="664">Ecuador</option>
                        <option value="665">Egypt</option>
                        <option value="666">El Salvador</option>
                        <option value="667">Equatorial Guinea</option>
                        <option value="668">Eritrea</option>
                        <option value="669">Estonia</option>
                        <option value="670">Ethiopia</option>
                        <option value="671">Fiji</option>
                        <option value="672">Finland</option>
                        <option value="287">France</option>
                        <option value="673">Gabon</option>
                        <option value="674">Gambia</option>
                        <option value="675">Georgia</option>
                        <option value="288">Germany</option>
                        <option value="676">Ghana</option>
                        <option value="289">Greece</option>
                        <option value="677">Grenada</option>
                        <option value="290">Guatemala</option>
                        <option value="678">Guinea</option>
                        <option value="679">Guinea-Bissau</option>
                        <option value="680">Guyana</option>
                        <option value="681">Haiti</option>
                        <option value="682">Honduras</option>
                        <option value="683">Hungary</option>
                        <option value="684">Iceland</option>
                        <option value="685">India</option>
                        <option value="291">Indonesia</option>
                        <option value="686">Iran</option>
                        <option value="687">Iraq</option>
                        <option value="688">Ireland</option>
                        <option value="689">Israel</option>
                        <option value="292">Italy</option>
                        <option value="690">Jamaica</option>
                        <option value="293">Japan</option>
                        <option value="691">Jordan</option>
                        <option value="692">Kazakhstan</option>
                        <option value="693">Kenya</option>
                        <option value="694">Kiribati</option>
                        <option value="695">Kosovo</option>
                        <option value="696">Kuwait</option>
                        <option value="697">Kyrgyzstan</option>
                        <option value="698">Laos</option>
                        <option value="699">Latvia</option>
                        <option value="700">Lebanon</option>
                        <option value="701">Lesotho</option>
                        <option value="702">Liberia</option>
                        <option value="703">Libya</option>
                        <option value="704">Liechtenstein</option>
                        <option value="705">Lithuania</option>
                        <option value="706">Luxembourg</option>
                        <option value="707">Macedonia</option>
                        <option value="708">Madagascar</option>
                        <option value="709">Malawi</option>
                        <option value="294">Malaysia</option>
                        <option value="710">Maldives</option>
                        <option value="711">Mali</option>
                        <option value="712">Malta</option>
                        <option value="713">Marshall Islands</option>
                        <option value="714">Mauritania</option>
                        <option value="715">Mauritius</option>
                        <option value="716">Micronesia</option>
                        <option value="295">Mexico</option>
                        <option value="717">Moldova</option>
                        <option value="718">Monaco</option>
                        <option value="719">Mongolia</option>
                        <option value="720">Montenegro</option>
                        <option value="721">Morocco</option>
                        <option value="722">Mozambique</option>
                        <option value="723">Myanmar (Burma)</option>
                        <option value="724">Namibia</option>
                        <option value="725">Nauru</option>
                        <option value="726">Nepal</option>
                        <option value="296">Netherlands</option>
                        <option value="727">New Zealand</option>
                        <option value="728">Nicaragua</option>
                        <option value="729">Niger</option>
                        <option value="730">Nigeria</option>
                        <option value="731">North Korea</option>
                        <option value="230">Norway</option>
                        <option value="732">Oman</option>
                        <option value="733">Pakistan</option>
                        <option value="734">Palau</option>
                        <option value="735">Palestine</option>
                        <option value="736">Panama</option>
                        <option value="737">Papua New Guinea</option>
                        <option value="738">Paraguay</option>
                        <option value="739">Peru</option>
                        <option value="231">Phillipines</option>
                        <option value="740">Poland</option>
                        <option value="741">Portugal</option>
                        <option value="742">Puerto Rico</option>
                        <option value="743">Qatar</option>
                        <option value="232">Romania</option>
                        <option value="744">Russia</option>
                        <option value="745">Rwanda</option>
                        <option value="746">Samoa</option>
                        <option value="747">San Marino</option>
                        <option value="748">Sao Tome and Principe</option>
                        <option value="749">Saudi Arabia</option>
                        <option value="750">Senegal</option>
                        <option value="751">Serbia</option>
                        <option value="752">Seychelles</option>
                        <option value="753">Sierra Leone</option>
                        <option value="754">Singapore</option>
                        <option value="755">Slovakia</option>
                        <option value="756">Slovenia</option>
                        <option value="757">Solomon Islands</option>
                        <option value="758">Somalia</option>
                        <option value="759">South Africa</option>
                        <option value="760">South Korea</option>
                        <option value="761">South Sudan</option>
                        <option value="233">Spain</option>
                        <option value="762">Sri Lanka</option>
                        <option value="763">St. Kitts and Nevis</option>
                        <option value="764">St. Lucia</option>
                        <option value="765">St. Vincent and The Grenadines</option>
                        <option value="766">Sudan</option>
                        <option value="767">Suriname</option>
                        <option value="768">Swaziland</option>
                        <option value="769">Sweden</option>
                        <option value="234">Switzerland</option>
                        <option value="770">Syria</option>
                        <option value="771">Taiwan</option>
                        <option value="772">Tajikistan</option>
                        <option value="773">Tanzania</option>
                        <option value="774">Thailand</option>
                        <option value="775">Timor-Leste</option>
                        <option value="776">Togo</option>
                        <option value="777">Trinidad and Tobago</option>
                        <option value="778">Tunisia</option>
                        <option value="779">Turkey</option>
                        <option value="780">Turkmenistan</option>
                        <option value="781">Uganda</option>
                        <option value="782">UK (United Kingdom)</option>
                        <option value="783">Ukraine</option>
                        <option value="784">United Arab Emirates</option>
                        <option value="785">Uruguay</option>
                        <option value="786">Uzbekistan</option>
                        <option value="787">Vatican City (Holy See)</option>
                        <option value="788">Venezuela</option>
                        <option value="789">Yemen</option>
                        <option value="790">Zambia</option>
                        <option value="791">Zimbabwe</option>
                    </select>
                    <div class="float-labels-wrapper float-labels-required float-labels-star"><label
                                class="float-labels-label" for="edit_field_region__PPQSGfRyhh4_chosen"></label>
                        <div class="chosen-container chosen-container-single float-labels-include form-select FormElement-select float-labels-item float-labels-processed"
                             title="" id="edit_field_region__PPQSGfRyhh4_chosen" style="width: 585.6px;"><a
                                    class="chosen-single">
                                <span> - Region - </span>
                                <div><b></b></div>
                            </a>
                            <div class="chosen-drop">
                                <div class="chosen-search">
                                    <input class="chosen-search-input" type="text" autocomplete="off">
                                </div>
                                <ul class="chosen-results"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field--type-name field--name-field-name field--widget-name-default js-form-wrapper js-FormWrapper FormWrapper Form-wrapper"
             data-drupal-selector="edit-field-name-wrapper" id="edit-field-name-wrapper--FZZU5bB8Z6o">
            <div class="js-form-item FormItem js-FormItem FormItem--type-name FormItem--field-name-0 js-form-type-name form-type-name js-form-item-field-name-0 js-FormItem-field-name-0 form-item-field-name-0">
                <label for="edit-field-name-0--exhvuaiGBbU"
                       class="js-form-required form-required FormElement-label sr-only">Name</label>
                <div class="FormItem-children">
                    <div class="name-widget-wrapper">
                        <div class="name-component-wrapper name-given-wrapper">
                            <div class="js-form-item FormItem js-FormItem FormItem--type-textfield FormItem--field-name-0-given js-form-type-textfield form-type-textfield js-form-item-field-name-0-given js-FormItem-field-name-0-given form-item-field-name-0-given">

                                <div class="FormItem-children">
                                    <div class="float-labels-wrapper float-labels-required float-labels-star"><label
                                                class="float-labels-label" for="edit-field-name-0-given--NvDaA_kVwj4">First
                                            name</label><input
                                                class="name-element name-given name-core-component float-labels-include form-text required FormItem-input float-labels-item float-labels-processed"
                                                data-drupal-selector="edit-field-name-0-given" type="text"
                                                id="edit-field-name-0-given--NvDaA_kVwj4" name="field_name[0][given]"
                                                value="" size="20" maxlength="63" required="required"
                                                aria-required="true"
                                                style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="name-component-wrapper name-family-wrapper">
                            <div class="js-form-item FormItem js-FormItem FormItem--type-textfield FormItem--field-name-0-family js-form-type-textfield form-type-textfield js-form-item-field-name-0-family js-FormItem-field-name-0-family form-item-field-name-0-family">

                                <div class="FormItem-children">
                                    <div class="float-labels-wrapper float-labels-required float-labels-star"><label
                                                class="float-labels-label" for="edit-field-name-0-family--dQCtWm4EB_w">Last
                                            name</label><input
                                                class="name-element name-family name-core-component float-labels-include form-text required FormItem-input float-labels-item float-labels-processed"
                                                data-drupal-selector="edit-field-name-0-family" type="text"
                                                id="edit-field-name-0-family--dQCtWm4EB_w" name="field_name[0][family]"
                                                value="" size="20" maxlength="63" required="required"
                                                aria-required="true"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="js-form-item FormItem js-FormItem FormItem--type-email FormItem--mail js-form-type-email form-type-email js-form-item-mail js-FormItem-mail form-item-mail">

            <div class="FormItem-children">
                <div class="float-labels-wrapper float-labels-required float-labels-star"><label
                            class="float-labels-label" for="edit-mail--rmwHX0vmnJY">Email</label><input
                            data-drupal-selector="edit-mail"
                            class="float-labels-include form-email required FormItem-input float-labels-item float-labels-processed"
                            type="email" id="edit-mail--rmwHX0vmnJY" name="mail" value="" size="60" maxlength="254"
                            required="required" aria-required="true"></div>

            </div>
        </div>

        <div class="field--type-telephone field--name-field-phone field--widget-telephone-default js-form-wrapper js-FormWrapper FormWrapper Form-wrapper"
             data-drupal-selector="edit-field-phone-wrapper" id="edit-field-phone-wrapper--zEMmWRq_ke4">
            <div class="js-form-item FormItem js-FormItem FormItem--type-tel FormItem--field-phone-0-value js-form-type-tel form-type-tel js-form-item-field-phone-0-value js-FormItem-field-phone-0-value form-item-field-phone-0-value">

                <div class="FormItem-children">
                    <div class="float-labels-wrapper float-labels-star"><label class="float-labels-label"
                                                                               for="edit-field-phone-0-value--6nc2MNBh1HQ">Phone</label><input
                                data-drupal-selector="edit-field-phone-0-value"
                                class="float-labels-include form-tel FormItem-input float-labels-item float-labels-processed"
                                type="tel" id="edit-field-phone-0-value--6nc2MNBh1HQ" name="field_phone[0][value]"
                                value="" size="30" maxlength="128"></div>

                </div>
            </div>

        </div>
        <div class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper js-FormWrapper FormWrapper Form-wrapper"
             data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper--egs4eM5kYkU">
            <div class="js-form-item FormItem js-FormItem FormItem--type-textarea FormItem--message-0-value js-form-type-textarea form-type-textarea js-form-item-message-0-value js-FormItem-message-0-value form-item-message-0-value">

                <div class="FormItem-children">
                    <div class="form-textarea-wrapper">
                        <div class="float-labels-wrapper float-labels-star"><label
                                    class="float-labels-label"
                                    for="edit-message-0-value--QyIBroqmUJc">Message</label><textarea
                                    class="js-text-full text-full float-labels-include form-textarea resize-vertical form-element form-element--textarea FormElement FormElement--textarea TextArea float-labels-item float-labels-processed"
                                    data-drupal-selector="edit-message-0-value" id="edit-message-0-value--QyIBroqmUJc"
                                    name="message[0][value]" rows="12" cols="60"
                                   spellcheck="false"></textarea></div>
                    </div>

                </div>
            </div>

        </div>
        <div data-drupal-selector="edit-actions"
             class="form-actions js-form-wrapper js-FormWrapper FormWrapper Form-wrapper"
             id="edit-actions--MOCSZHXoIhs"><input data-drupal-selector="edit-submit" type="submit"
                                                   id="edit-submit--3gHG-mESfz8" name="op" value="Send"
                                                   class="button button--primary js-form-submit form-submit FormItem-input"
                                                   style="display: none;">
        </div>

    </form>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset form-actions">
            <button type="button"
                    class="button button--primary js-form-submit form-submit FormItem-input ui-button ui-corner-all ui-widget">
                Send
                <span class="fas fa-caret-right"></span>
            </button>
        </div>
    </div>
    <!-- END COPY FROM GOODWAY -->
</div>
