@import 'base-components/01-atoms/accents/AngledBackground/AngledBackground';

.MultiColumnLayout {
  padding: 2rem 0;

  &--theme-blue {
    @include angled-background;
  }

  .path-frontpage & {
    &-column:first-of-type {
      > .Subcomponents {
        max-width: 400px;
      }
    }
  }
  .MultiColumnLayout-column:first-child {
    .basic-content, .Line, .Heading {
      @include breakpoint(large) {
        margin-right: 2rem;
      }
    }
  }
  .MultiColumnLayout-column:nth-child(2){
    .basic-content, .Line, .Heading, .button {
      @include breakpoint(large) {
        margin-left: 2rem;
      }
    }
  }
}
