@mixin button($background: clr(secondary), $background-hover: clr(secondary), $border: 1px solid clr(border), $color: $button-base-color, $color-hover: $button-base-color-hover, $font-weight: $button-font-weight, $transition: false) {
  @if $transition {
    @include transition;
  }
  background: $background;
  border: $border;
  color: $color;
  font-weight: $font-weight;

  &:hover,
  &:focus,
  &.active {
    background: $background-hover;
    color: $color-hover;
  }


  &--iconLeft[class] {
    [class^="fa"] {
      padding-left: 0;
      padding-right: 0.5rem;
    }
  }
}

.button {
  @include button;

  &.outline {
    @include button($background: rgba(clr(background), .125), $background-hover: clr(primary))
  }

  &.white {
    @include button($background: clr(background), $background-hover: clr(primary), $border: 1px solid clr(primary-alt), $color: clr(primary-alt))
  }

  &.dark {
    @include button($background: clr(primary), $background-hover: clr(background), $border: 1px solid clr(primary), $color: clr(text-inverse), $color-hover: clr(primary))
  }
}


.link,
.button[class] {
  cursor: pointer;
  font-family: $button-font-family;
  font-size: rem-calc(14px);
  font-weight: normal;
  text-transform: uppercase;

  @include breakpoint(medium) {
    font-size: rem-calc(16px);
  }

  [class^="fa"] {
    @include transition;
    padding-left: 0.5rem;
    position: relative;
  }

  &:hover {
    .fa-caret-right {
      transform: translateX(3px);
    }
  }
}

.LinkButton {
  color: $button-base-color;
  cursor: pointer;
  font-family: $button-font-family;
  font-size: rem-calc(14px);
  font-weight: normal;
  padding: 0.5rem;
  text-transform: uppercase;

  &:hover {
    color: clr(primary-alt);
  }

  .fal {
    color: clr(secondary);
    padding-right: .325rem;
  }
}
