.ColorCombinations {

  &-input[type="radio"] {
    &:checked + label, .Checked + label {
      &::before {
        content: '\f058';
        font-family: $fontawesome-family;
        font-weight: bold;
      }
    }
  }
}
