.HeaderBanner5050 {
  border-bottom: 1px solid $white;

  &-text {
    background: $gray--dark;
    background: rgba(64, 64, 65, .75);
    color: $white;
    position: relative;
    @include breakpoint(medium) {
      border-right: 1px solid $white;
    }

    //p {
    //  margin-bottom: .5rem;
    //}

    &Wrap {
      padding: 2rem 25px;
      @include breakpoint(medium) {
        max-width: 600px;
        margin-left: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
      @include breakpoint(xlarge) {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
  }

  &-title, p {
    color: $white;
    @include breakpoint(medium) {
      max-width: 400px;
    }
  }
}
