.ProductWarningBox {
  background: $yellow;
  padding: .5rem 1rem;
  color: $blue--dark;
  margin-bottom: 2rem;

  .link {
    text-decoration: underline;
  }

  &-reveal {
    padding: 2rem;

    @include breakpoint(large) {
      max-width: 980px;
      width: 980px;
    }

    .IndividualResourceDownloadsIcon {
      border: none;
      margin-bottom: 1.5rem;
    }
  }
}
