////
/// Brand Color variables
/// It is better to use the colors in _01-colors-used.scss rather than these colors directly.
////

/// Brand colors
$red: #d22728;
$yellow: #f2b419;
$yellow--dark: #dba317;
$blue: #003d4c;
$blue--dark: #082832;
/// @todo Search-replace after all components are in to change references to the following colors to the color() function
$dark-blue: $blue--dark;
$dark-yellow: $yellow--dark;

/// Grayscale
$white: #fff;
$gray--light: #e7e7e8;
$gray--medium: #9fa1a4;
$gray: #636467;
$gray--dark: #404041;
$black: #000;

/// Status
$yellow--light: #f9fb93;
$red--light: #fbe3e4;
$green--light: #cfefc2;

/// Product Standard Colors
$product-red: #d2232a;
$product-orange: #f08e20;
$product-yellow: #fff200;
$product-dark-yellow: #beb61e;
$product-brown: #7e4127;
$product-green: #40ae49;
$product-blue: #0071ae;
$product-purple: #68408e;
$product-white: $white;
$product-grey: #696a6c;
$product-black: $black;
