////
/// Color Usage variables
/// Use these (via the `color` function below) rather than color variables directly.
////

@import '00-colors-vars';

$defaultColors: (
  text: $gray--dark,
  text-light: $gray--medium,
  text-inverse: $white,
  background: $white,
  background-section: $gray--light,
  primary: $red,
  primary-light: lighten($red, 10%),
  primary-dark: darken($red, 5%),
  secondary: $blue,
  secondary-light: lighten($blue, 10%),
  secondary-dark: $blue--dark,
  secondary-transparent: rgba($blue--dark, 0.75),
  accent: $yellow,
  accent-light: lighten($yellow, 10%),
  accent-dark: $yellow--dark,
  highlight: $white,
  highlight-high: $gray--light,
  border: $white,
  border-alt: $blue--dark,
  border-gray: $gray--medium,
  black: $black,
  white: $white,
  muted: $gray--light,
  warning: $yellow--light,
  error: $red--light,
  message: $green--light,
);

///$darkColors: (
///  text: $white,
///  text-inverse: $gray--dark,
///  background: $gray,
///  background-inverse: $gray--light,
///  background-section: $gray--dark,
///  primary: $blue,
///  primary-alt: $blue--dark,
///  secondary: $red,
///  accent: $yellow,
///  accent-high: $yellow--dark,
///  highlight: $gray,
///  highlight-high: $gray--dark,
///  border: $white,
///  border-alt: $blue--dark,
///  muted: $gray--medium,
///  warning: $yellow--light,
///  error: $red--light,
///  message: $green--light,
///);

/// This color function makes it easy for you to call a color by its functional name anywhere you need.
/// E.g. to use the `text` color, you type: `color: color(text);`
/// How it works: This function works in conjunction with the dynamic css custom properties declarations below. The item
/// called in the function is prefixed with `var(--c-` to call the custom property for that color.
/// E.g. `color: color(text);` will return `color: var(--c-text);`
/// Note: (The `--c-` is added via the `@each` loops below)
///@function color($colorChoice) {
///  @return var(--c-#{$colorChoice});
///}

@function color($colorChoice) {
  @return map-get($defaultColors, #{$colorChoice});
}

/// Create CSS custom properties
/// This is what powers the built-in OS light/dark mode switching. For each color variable above (e.g. `text` and
/// `background`) a css custom property will be created. (e.g. `--c-text:` and `--c-background:`).
///
/// The first `@each` below will create a custom property for each item in the `$defaultColors` map. So put all of your
/// default colors there.
///
/// The `prefers-color-scheme: dark` media query below will then create custom properties for each of the colors in the
/// `$darkColors` map only if the browser supports that feature. If there is an exact match (e.g. `text`) in both maps,
/// the one from `$darkColors` will be used on machines that have opted to use the 'dark mode' on their OS.
///:root {
///  /// Create custom properties for default colors
///  @each $name, $color in $defaultColors {
///    --c-#{$name}: #{$color};
///  }
///
///  /// Create custom properties for dark colors, an duse them if the user's OS has dark mode enabled
///  @media (prefers-color-scheme: dark) {
///    @each $name, $color in $darkColors {
///      --c-#{$name}: #{$color};
///    }
///  }
///
///  /// Use the default color scheme for the "Default Theme" section of the component library regardless of OS setting.
///  /// This is required to show the correct colors in the component library at all times
///  [data-theme='default'] {
///    @each $name, $color in $defaultColors {
///      --c-#{$name}: #{$color};
///    }
///  }
///
///  /// Use the dark color scheme for the "Dark Theme" section of the  component library regardless of OS setting.
///  /// This is required to show the correct colors in the component library at all times
///  [data-theme='dark'] {
///    @each $name, $color in $darkColors {
///      --c-#{$name}: #{$color};
///    }
///  }
///}
