// These styles only affect the colors "Usage" page in the component library
.cl-colors {
  padding: 1rem;

  h2,
  h3 {
    color: clr(text);
  }
}

.cl-colors__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem;
  padding: 0;
}

.cl-colors__item {
  list-style: none;
  padding: 1rem 2rem;
  transition: all 0.4s;
  flex: 1 1 20%;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

// Dynamically set swatch text color based on the lightness of the background color
@function set-color(
  $color,
  $text-primary: text,
  $text-secondary: text-inverse
) {
  @if (lightness($color) > 50) {
    @return clr($text-primary);
  } @else {
    @return clr($text-secondary);
  }
}

// Style default color swatches
@each $name, $color in $defaultColors {
  .cl-colors__item--default {
    &-#{$name} {
      background-color: clr($name);
      color: set-color($color);
    }
  }
}

// Style dark color swatches
@each $name, $color in $darkColors {
  .cl-colors__item--dark {
    &-#{$name} {
      background-color: clr($name);
      color: set-color($color);
    }
  }
}

// Color Utility Classes
// TODO: Replace these with the clr() mixin
.white {
  color: clr(background);
}

.bg-light {
  background: clr(background-section);

  + .bg-light {
    padding-top: 0; // this fixes the too much padding problem if two sections have bg-light in a row
  }
}

.bg-dark {
  background: clr(text);
}

.bg-yellow {
  background: clr(accent);
}

.bg-dark-blue {
  background: clr(primary-alt);
}

.bg-blue {
  background: clr(primary);
}

.bg-blue, .bg-dark-blue, .bg-dark {
  color: clr(text-inverse);

  h2, h3, h4, h5, p, a {
    color: clr(text-inverse);
  }
}
