.AddtoCart {
  display: flex;
  margin-bottom: 1rem;

  &-toggle {
    width: 116px;
    display: flex;
  }

  &-minus, &-plus {
    background: $blue;
    color: $white;
    padding: .25rem .325rem;
    cursor: pointer;
    width: 25px;
    height: 45px;
  }

  &-input {
    -webkit-appearance: none;
    height: 45px;
    margin-bottom: 0;
    text-align: center;
    border-left: 0;
    border-right: 0;
    width: calc(100% - 50px);

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-button {
    flex: 0 1 auto;
    width: auto;
    margin-bottom: 0;
    border: 0;
    margin-left: .25rem;
    padding: .9rem; /* needs more just for this guy, to match design */
    .fas.fa-cart-plus {
      padding-left: 0;
      padding-right: .25rem;
    }
  }
}

#AddedToCartModal {
  max-width: 450px;
}

// copying styling I need that is from Goodway, using Goodway classes

.commerce-cart-block--contents__links {
  display: flex;
  flex-wrap: wrap;

  .keepBrowsing, .checkout {
    width: 100%;
    @include breakpoint($medium) {
      width: 50%;
    }
  }
}
