{#
/**
 * @file
 * AddtoCart
 * used on 03-organisms/CompleteOrder
*/
#}

<div class="AddToCart">
  <div class="AddToCart-toggle">
    <button id="AddToCart-minus" class="AddToCart-minus"><span class="fas fa-minus"></span></button>
    <input id="AddToCart-input" class="AddToCart-input" type="number" value="1" min="0"/>
    <button id="AddToCart-plus" class="AddToCart-plus"><span class="fas fa-plus"></span></button>
  </div>
  <a href="#" class="AddToCart-button button" data-open="AddedToCartModal">
    <span class="fas fa-cart-plus"></span>
    ADD TO CART
  </a>
</div>
<div class="reveal" id="AddedToCartModal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="h3">Item(s) Added To Your Cart...</p>
  {# include "components/02-molecules/IndividualProductTeaserTinyWithPrice/IndividualProductTeaserTinyWithPrice.php"; ?>#}
  <hr>
  <div class="text-center">
    <p class="Label">ORDER TOTAL</p>
    <p>$##.##</p>
    <div class="commerce-cart-block--contents__links">
      <a href="#" class="button--iconLeft button keepBrowsing dialog-cancel" data-close>
        <span class="fas fa-times-circle"></span>
        Keep Browsing
      </a>
      <a href="#" class="button--iconLeft button checkout">
        <span class="fas fa-check-circle"></span>
        Checkout
      </a>
    </div>
  </div>
</div>
