{#
/**
 * @file
 * Header Main
 * The off-canvas menu uses the Off-Canvas Component
 *
 * For more info: http://jointswp.com/docs/off-canvas-menu/
 *
 * Available variables:
 * - header_main__base_class - the base class name
 * - header_main__modifiers - array of modifiers to add to the base classname
 * - header_main__blockname - blockname prepended to the base classname
 * - header_main__extra_classes - extra classes
 * -
 * - header_main__image
*/
#}
{% set header_main__base_class = header_main__base_class|default('Header') %}
{% set header_main__extra_classes = header_main__extra_classes|default(['']) %}

<div {{ suit('main', header__modifiers, header__base_class ) }} id="top-bar-menu">
  {% include '@organisms/UtilityBar/UtilityBar.twig' %}

  <div {{ suit('mainContainer', header__modifiers, header__base_class ) }}>
    <div class="grid-container">
      <div class="grid-x vertical-center">
        <div class="hide-for-large cell shrink hamburger">
          <a data-toggle="off-canvas">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </a>
        </div>
        <div
          {{ suit('mainLogo', header_main__modifiers, header_main__base_class, ['cell', 'auto', 'large-shrink'] ) }}>
          <a href="#placeholder" title="Home">
            <img src="{{ header_main__image }}" alt="Marking Services Incorporated" width="163" height="76"/>
          </a>
        </div>
        {% include '@organisms/SearchWithDropdown/SearchWithDropdown.twig' %}
        {% include '@organisms/MyAccountMenu/MyAccountMenu.twig' %}
      </div>

    </div>
    <div class="show-for-large">
      {# <?php include "components/03-organisms/MegaMenu/MegaMenu.php"; ?> #}
    </div>
  </div>

</div>
