@import 'assets/header-main';
@import 'assets/hamburger';


.Header {
  &-wrap {
    z-index: 100;

    &.is-stuck {
      z-index: 100;
      //@include box-shadow;
    }
  }

  @media print {
    display: none;
  }
}
