.ProductsTopHalf {

  .ProductImages {
    @include breakpoint($large) {
      position: sticky;
      top: 200px; /* making up for sticky header and then some */
      z-index: 0;
      transform: translate3d(0, 0, 0);
      right: auto;
      left: auto;
    }
  }

  .Tooltip {
    padding-left: .5rem;
    margin-bottom: .25rem;
  }
}
