////
/// Styles used by Storybook to demonstrate the various motions
/// These styles are only compiled with Storybook - not the theme
////

.motion {
  padding: 0 1rem;
}

.motion__grid {
  @media (min-width: 920px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.motion__grid-item {
  @media (min-width: 920px) {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 49%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.demo-motion {
  background-color: color(background-section);
  border-radius: 2px;
  color: color(text);
  cursor: pointer;
  padding: 3rem;
  text-align: center;

  span {
    display: block;
    margin: 0.25rem;
  }

  &--fade {
    @include transition;

    &:hover {
      background-color: color(accent);
    }
  }

  &--slide-up {
    @include transition(transform, 0.4s, ease-in);

    &:hover {
      transform: translateY(-10px);
    }
  }

  &--slide-down {
    @include transition(transform, 0.2s, linear);

    &:hover {
      transform: translateY(10px);
    }
  }

  &--expand {
    @include transition(transform, 0.3s, cubic-bezier(0.17, 0.67, 0.83, 0.67));

    &:hover {
      transform: scale(1.03);
    }
  }
}

/// Custom animations
a {
  .Zoom {
    overflow: hidden;
    position: relative;

    &-image {
      @include transition;
    }
  }

  &:hover {
    @include breakpoint(large) {
      .Zoom-image {
        transform: scale(1.05);
      }
    }
  }
}

.demo-animation {
  background-color: color(background-section);
  border-radius: 2px;
  cursor: pointer;
  padding: 3rem;

  .Zoom-image {
    display: block;
    margin: 0 auto;
  }
}

/// AOS Animations
[data-aos='fade-up'] {
  @include transition;

  transform: translate(0, 20px);
}

[data-aos='fade-right'] {
  @include transition;

  transform: translate3d(-20px, 0, 0);
}

[data-aos='fade-left'] {
  @include transition;

  transform: translate3d(20px, 0, 0);
}

[data-aos^='counter'] {
  @include transition;

  transform: scale(.1);

  &.aos-animate {
    transform: scale(1);
  }
}

[data-aos='SectionFade'] {
  .SectionFade-one,
  .SectionFade-two,
  .SectionFade-three,
  .SectionFade-four {
    @include transition;

    opacity: 0;
    transform: translate(0, 20px);
    transition: 0.6s ease-out;
  }

  .SectionFade-two {
    transition-delay: 0.3s;
  }

  .SectionFade-three {
    transition-delay: 0.5s;
  }

  .SectionFade-four {
    transition-delay: 0.7s;
  }

  &.aos-animate {
    .SectionFade-one,
    .SectionFade-two,
    .SectionFade-three,
    .SectionFade-four {
      @include transition;

      opacity: 1;
      transform: translate(0);
    }
  }
}

.demo-aos-animation {
  background-color: color(background-section);
  border-radius: 2px;
  color: color(text);
  cursor: pointer;
  padding: 3rem;
  text-align: center;

  span {
    display: block;
    margin: 0.25rem;
  }
}
