{#
/**
 * @file
 * Template used only in Storybook to demonstrate an angled background
 *
 * Available variables: (none)
 */
#}

{% include '@atoms/text/Heading/Heading.twig' with {
  heading__level: 2,
  heading: 'Angled Background:'
} %}

<div class="demo-angled-background AngledBackground"></div>
