////
/// Accent - Angled Background
/// Includes a mixin and a utility class to add an angled background to any block element
////

/// Mixin - Angled Background
/// Adds the angled background style to a block element
@mixin angled-background {
  background: color(secondary-dark);
  overflow: hidden;
  position: relative;

  &.reverse {
    @include breakpoint(medium) {
      background: color(secondary);
    }

    &::before {
      background: color(secondary-dark);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 60%;
    }

    &::after {
      transform: skewY(-21deg);
      transform-origin: top right;

      @include breakpoint(medium) {
        left: auto;
        right: 40%;
      }
    }
  }

  &::before {
    content: '';

    @include breakpoint(large) {
      background: color(secondary);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 44%;
    }
  }

  &::after {
    background: color(secondary);
    bottom: 31%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewY(21deg);
    transform-origin: 0;
    width: 100%;

    @include breakpoint(large) {
      left: 44%;
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.AngledBackground {
  @include angled-background;
}
