.IndividualCaseStudyTeaser {
  .wysiwyg {
    ul li {
      color: $dark-gray;

      &::before {
        color: $dark-yellow;
      }
    }
  }

  &-bullets {
    li {
      @include breakpoint(large) {
        padding-right: 2rem;
      }
    }
  }
}
