$IndividualCaseStudyTeaser-text: #484848 !default;
$IndividualCaseStudyTeaser-icon: #eee !default;

.IndividualCaseStudyTeaser {
  .wysiwyg {
    ul li {
      color: $IndividualCaseStudyTeaser-text;

      &::before {
        color: $IndividualCaseStudyTeaser-icon;
      }
    }
  }

  &-bullets {
    li {
      @include breakpoint(large) {
        padding-right: 2rem;
      }
    }
  }
}
