.ProductListingFilter {
  $self: &;

  &-block {
    margin-bottom: 1.5rem;
  }

  a {
    color: clr(text);

    &:hover {
      font-family: $header-font-family;
      color: clr(primary);
    }
  }

  &-list {
    list-style-type: none;
    margin: 0;
    font-family: $header-font-family;
    padding: 1rem 0 0;
    max-height: 358px;
    overflow-y: auto;

    @include breakpoint($xl) {
      max-height: 390px;
    }


    /* Custom Scroll Bar - might move this out to its own snippet */
    scrollbar-width: thin;
    scrollbar-color: $yellow $gray--light;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $gray--medium;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
      position: relative;
    }


    a {
      color: $gray--dark;
    }

    .active a {
      font-family: $header-font-family;
      color: $blue;
    }

  }


  &-accordion {
    border-top: 1px solid $gray--medium;
    margin-bottom: 0;

    .accordion-title::before {
      font-family: $font-family-fontawesome;
      content: '\f067';
      font-weight: 300;
      color: clr(secondary);
    }

    .is-active .accordion-title::before {
      content: '\f068';
    }
  }

  &-accordionItem {
    padding: 0.75rem 0;
    @include breakpoint($medium) {
      padding: 1.5rem 0;
    }

    .LinkButton {
      padding-left: 0;
    }
  }

  &-title {
    font-family: $header-font-family;
    color: $blue--dark;
    border: none;
  }

  &-content {
    border: none;
    padding-bottom: 0;
  }

  :last-child:not(.is-active) > .accordion-title {
    border: none;
  }

  :last-child > .accordion-content:last-child {
    border: none;
  }

  &-listItem {
    &Row {
      display: flex;
      flex-flow: row wrap;
      padding: .4rem 0;
    }

    &Icon {
      flex: 0 1 auto;
      width: 23px;
      display: flex;
      align-items: center;

      svg {
        max-width: 23px;
        width: 23px;

        path {
          fill: $blue--dark;
        }
      }
    }

    &Title {
      flex: 0 1 auto;
      width: calc(100% - 23px);
      padding-left: 1rem;
    }
  }

  &-showButton {
    margin-top: 1.5rem;
  }

  &-categories {
    #{$self}-list {
      padding-top: 0;
    }
  }

}
