$medium-large: '768px';

.SearchWithDropdown {
  @media screen and (min-width: $medium-large) { /* Unique breakpoint due to how this is laid out (see design). Does not work at our normal medium breakpoint of 640. */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-container {
    margin: auto;
    max-width: 100%;

    @include breakpoint($large) {
      max-width: 450px;
      position: relative;
    }

    .SearchInput {
      padding-left: 0;
      padding-right: 0;
    }

    .SearchInput-icon {
      left: 15px;
    }

    .SearchInput-input {
      background: clr(background-section);
    }
  }

  &-dropdown {
    background: clr(background);
    display: none;
    padding-top: 4px;
    // Custom Scroll Bar - might move this out to its own snippet
    scrollbar-width: thin;
    scrollbar-color: $yellow $gray--light;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $gray--medium;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
      position: relative;
    }

    @include breakpoint($medium) {
      border: 1px solid $gray--medium;
      left: calc(50% - 250px);
      max-height: 70vh;
      overflow-y: auto;
      padding-top: 0;
      position: absolute;
      right: auto;
      top: 7rem;
      width: 500px;
      z-index: 120;
    }

    @include breakpoint($large) {
      left: 0;
      top: 48px;
      width: 100%;
    }

    &.visible {
      display: block;
    }

    .button {
      display: block;
      margin-bottom: 0;
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  &-left {
    @include breakpoint($medium) {
      border-right: 1px solid $gray--medium;
    }
  }

  &-title {
    padding: 0.5rem 0.75rem;
  }

  &-body {
    padding: 0.75rem;

    &Category {
      border-bottom: 1px solid $gray--medium;
      display: block;
      padding: 0.25rem 0;
      width: 100%;

      &:last-child {
        border: none;
      }
    }
  }
}
