{#
/**
 * @file
 * Search With Dropdown
 * @todo this is all HARDCODED. how does this work with drupal?
 *
 * Available variables:
 * - replace__base_class - the base class name
 * - replace__modifiers - array of modifiers to add to the base classname
 * - replace__blockname - blockname prepended to the base classname
 * - replace__extra_classes - extra classes
 * -
 * - replace__image
 * - replace__title
 * - replace__body
 * - replace__button_title
 * - replace__url
*/
#}
{% set replace__base_class = replace__base_class|default('SearchWithDropdown') %}
{% set replace__extra_classes = replace__extra_classes|default(['cell', 'auto','show-for-medium']) %}

<div class="SearchWithDropdown cell auto show-for-medium">
  <div class="SearchWithDropdown-container">
    <div class="SearchInput">
      <span class="SearchInput-icon fas fa-search"></span>
      <input id="SearchWithDropdown-input" class="SearchWithDropdown-input SearchInput-input " type="text"
             placeholder="Search"/>
    </div>

    <div id="SearchWithDropdown-dropdown" class="SearchWithDropdown-dropdown">
      <div class="grid-x">
        <div class="SearchWithDropdown-left cell medium-7">
          <div class="SearchWithDropdown-title bg-blue uppercase"><b>Recommended Products</b></div>
          <div class="SearchWithDropdown-body">

            {% include '@molecules/IndividualProductTeaserTiny/IndividualProductTeaserTiny.twig' with {
              individual_product_teaser_tiny__image: 'https://placeimg.com/800/450/any',
              individual_product_teaser_tiny__title: 'Product Title Name Goes Here',
              individual_product_teaser_tiny__url: '#',
            } %}

            <a href="#" class="button">View 10 More</a>
          </div>
        </div>
        <div class="cell medium-5">
          <div class="SearchWithDropdown-title bg-blue uppercase"><b>Suggested Terms</b></div>
          <div class="SearchWithDropdown-body">
            <a class="SearchWithDropdown-bodyCategory" href="#">Category Name 1</a>
            <a class="SearchWithDropdown-bodyCategory" href="#">Category Name 2</a>
            <a class="SearchWithDropdown-bodyCategory" href="#">Category Name 3</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
