$SearchWithDropdown-breakpoint: '768px' !default;
$SearchWithDropdown-inputBackground: blue !default;
$SearchWithDropdown-dropdownBackground: pink !default;
$SearchWithDropdown-dropdownBorder: 1px solid blue !default;

.SearchWithDropdown {

  @media screen and (min-width: $SearchWithDropdown-breakpoint) { /* Unique breakpoint due to how this is laid out (see design). Does not work at our normal medium breakpoint of 640. */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-container {
    @include breakpoint(large) {
      position: relative;
    }

    max-width: 100%; //185px;
    margin: auto;


    .SearchInput {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint(large) {
      max-width: 450px;
    }

    .SearchInput-icon {
      left: 15px;
    }

    .SearchInput-input {
      background: $SearchWithDropdown-inputBackground;
    }
  }

  &-dropdown {
    display: none;
    background: $SearchWithDropdown-dropdownBackground;
    padding-top: 4px;

    @include scrollbar;

    @include breakpoint(medium) {
      position: absolute;
      left: calc(50% - 250px);
      top: 7rem;
      right: auto;
      border: $SearchWithDropdown-dropdownBorder;
      max-height: 70vh;
      overflow-y: auto;
      z-index: 120;
      width: 500px;
      padding-top: 0;
    }
    @include breakpoint(large) {
      left: 0;
      top: 48px;
      width: 100%;
    }

    &.visible {
      display: block;
    }

    .button {
      width: 100%;
      display: block;
      margin-bottom: 0;
      margin-top: .5rem;
    }
  }

  &-left {
    @include breakpoint(medium) {
      border-right: $SearchWithDropdown-dropdownBorder;
    }
  }

  &-title {
    padding: .5rem .75rem;
  }

  &-body {
    padding: .75rem;

    &Category {
      display: block;
      width: 100%;
      padding: .25rem 0;
      border-bottom: $SearchWithDropdown-dropdownBorder;

      &:last-child {
        border: none;
      }
    }
  }
}
