{#
/**
 * @file
 * Socials
 * description: just getting a head start on this
 *
 * Available variables:
 * - socials__base_class - the base class name
 * - socials__modifiers - array of modifiers to add to the base classname
 * - socials__blockname - blockname prepended to the base classname
 * - socials__extra_classes - extra classes
 * -
 * - socials__socials
*/
#}
{% set socials__base_class = socials__base_class|default('Socials') %}

{% if socials__socials %}
  <div class="Socials">
    <div class="Socials-row">
      {% for social in socials__socials %}
        <a href="{{ social.url }}" class="Socials-button" target="_blank" rel="noopener">
          <span class="fab fa-{{ social.icon }}"></span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
