/// Main Navigation
.main-nav {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }

  &--open {
    background-color: color(background);
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 134px;
    right: 0;
    width: 100%;
  }
}

/// UL
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  position: relative;
  z-index: 10;

  @include breakpoint(medium) {
    border-bottom: none;
  }
}

/// UL (Nested)
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: color(muted);
  width: 100%;

  @include breakpoint(medium) {
    background-color: color(highlight-high);
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 55px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    opacity: 0.6;
  }

  &:hover {
    @include breakpoint(medium) {
      opacity: 1;
      background-color: color(accent-high);
      transition: all 0.2s;

      .main-menu__link--sub {
        color: color(highlight);

        &.active,
        &:active,
        &:hover {
          color: color(background);
          background-color: color(accent-high);
        }
      }
    }
  }

  /// See main-menu.js
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include breakpoint(medium) {
    display: none; /// Never shown on large screens
  }
}
