////
/// Component Settings
/// This file sets up the variable overrides needed to style the component-level variables
////

/// Import any global variable definitions set up for Foundation so they can be used on the components
@import '00-foundation-settings';

/// Spacelift spacing
$space: 1rem;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;

/// Aspect ratio padding
$aspect-ratio-2-3: 66.6667%;
$aspect-ratio-1-3: 33.3333%;

/// Mixin settings
$mixin-body-copy--font-family: $font-family-body;
$mixin-wrapper--container-max-width: map-get($breakpoints, xlarge);
$mixin-wrapper--outer-container-break: map-get($breakpoints, small);
$mixin-Scrollbar--color: color(accent) color(background-section);
$mixin-Scrollbar--trackBackground: color(border-gray);
$mixin-Scrollbar--thumbColor: color(accent);

/// Atom overrides
$Blockquote-fontFamily: $header-font-family;
$ButtonLinkFontFamily: $header-font-family;
$ButtonLinkBorderColor: color(highlight);
$CheckboxInputFontFamily: $header-font-family;
$IconsDemoIconPadding: $space;
$IconsDemoItemMargin: $space-one-fourth;
$LabelFontFamily: $header-font-family;
$RadioInputFontFamily: $header-font-family;
$CheckboxInputFontFamily: $header-font-family;
$LabelFontFamily: $header-font-family;
$RadioInputFontFamily: $header-font-family;
$LinkButton-family: $header-font-family;
$LinkButton-color: color(text);
$LinkButton-hover: color(secondary-dark);
$LinkButton-icon: color(primary);

/// Molecule overrides
$AddtoCart-buttonTextColor: color(text-inverse);
$AddtoCart-buttonBackground: color(secondary);
$Breadcrumb-background: color(background-section);
$Breadcrumb-color: color(text);
$Breadcrumb-fontFamily: $header-font-family;
$Card-background: color(background);
$Card-headerColor: color(primary);
$Card-bodyColor: color(text);
$Card-paddingAspectRatio: $aspect-ratio-2-3;
$HorizontalCard-background: color(background);
$HorizontalCard-border: 1px solid color(border-gray);
$HorizontalCard-listLinkColor: color(secondary);
$HorizontalCard-listLinkHover: color(primary);
$IconInfoBox-Background: color(background);
$IconInfoBox-lightBackground: color(background-section);
$IconBlock-background: color(background);
$IconBlock-border: 1px solid color(border-gray);
$IconBlock-fontFamily: $header-font-family;
$IconTeaserBlock-background: color(background-section);
$IconTeaserBlock-color: color(secondary);
$IconTeaserBlock-lightBackground: color(background);
$IconTeaserBlock-hoverBackground: color(primary);
$IconTeaserBlock-hoverText: color(text-inverse);
$IndividualCaseStudyTeaser-text: color(text);
$IndividualCaseStudyTeaser-icon: color(accent-dark);
$IndividualOfficeLocation-text: color(text);
$IndividualOfficeLocation-hoverText: color(primary);
$IndividualPostTeaser-dateColor: color(text);
$IndividualProductTeaserTiny-hoverBackground: color(background-section);
$IndividualProductTeaserTiny-textColor: color(text);
$IndividualProductTeaserTiny-smallFontSize: $FontSize-xxs;
$IndividualResourceDownloadsIcon-borderTop: 1px solid color(border-gray);
$IndividualResourceDownloadsIcon-icon: color(secondary);
$IndividualResourceDownloadsIcon-subtitle: color(text);
$IndividualTestimonial-imageAspectRatioMobile: $aspect-ratio-2-3;
$IndividualTestimonial-imageAspectRatioDesktop: $aspect-ratio-1-3;
$NewsletterSignup-background: color(background-section);
$NewsletterSignup-placeholder: color(text);
$NewsletterSignup-active: color(primary);
$OtherPagesTeaserBlock-white: color(text-inverse);
$pager-padding-tight: 2px;
$pager-color: color(secondary-dark);
$pager-summary: color(text);
$pager-buttonBackground: color(background);
$pager-buttonBorder: 1px solid color(secondary-dark);
$pager-buttonText: color(secondary-dark);
$pager-buttonBackgrounActive: color(secondary);
$pager-fontAwesome: color(primary);
$ProductCategoryTeaserBlock-title: color(primary);
$ProductCategoryTeaserBlock-text: color(text);
$ProductTeaserBlock-background: color(background);
$ProductTeaserBlock-border: 1px solid color(border-gray);
$ProductTeaserBlock-textBackground: color(background-section);
$ProductTeaserBlock-imagePadding: $aspect-ratio-2-3;
$ProductToggle-active: color(secondary);
$ResourceCategoryIconBlock-hoverTitle: color(primary);
$ResourceCategoryIconBlock-Title: color(secondary-dark);
$ResourceCategoryIconBlock-iconBackground: color(accent);
$ResourceCategoryIconBlock-iconColor: color(text-inverse);
$ResourceListingFeatured-titleColor: color(primary);
$ResourceListingFeatured-titleHoverColor: color(primary-dark);
$ResourceListingFeatured-color: color(text);
$ResourceListingTeaser-border: 1px solid color(border-gray);
$ResourceListingTeaser-backgroundHoverColor: color(primary);
$ResourceListingTeaser-hoverColor: color(text-inverse);
$ResourceListingTeaser-titleColor: color(primary);
$ResourceListingTeaser-titleHoverColor: color(primary-dark);
$ResourceListingTeaser-subtitleColor: color(text);
$ResourceListingTeaser-iconBackground: color(accent);
$ResourceListingTeaser-iconColor: color(text-inverse);
$SearchForm-breakpoint: '768px';
$SearchForm-input-backgroundColor: color(background-section);
$SearchForm-dropdown-backgroundColor: color(background);
$SearchForm-dropdown-border: 1px solid color(border-gray);
$SearchForm-icon-color: color(primary);
$SearchForm-placeholder-color: color(text);
$SearchForm-button-backgroundColor: color(primary);
$SearchForm-button-color: color(text-inverse);
$SearchForm-button-backgroundHoverColor: color(primary-dark);
$SearchResult-borderBottom: 1px solid color(muted);
$Showing-color: color(secondary-dark);
$SingleImageBlock-aspectMobile: $aspect-ratio-2-3;
$SingleImageBlock-aspectDesktop: $aspect-ratio-1-3;
$SocialLinks-background: color(primary);
$SocialLinks-border-color: color(primary);
$SocialLinks-border-radius: 0;
$SocialLinks-color: color(background);
$SocialLinks-hover-background: transparent;
$SocialLinks-fontsize: 14px;

/// Organism overrides
$ContentBox-border: 1px solid color(border-gray);
$ContentBox-background: color(background);
$CustomizationCallout-image-large-height: 195%;
$CustomizationCallout-image-xlarge-height: 230%;
$CustomizationCallout-border-color: color(border-gray);
$CustomizationCalloutVariation-padding-top-medium: 72%;
$CustomizationCalloutVariation-padding-top-xlarge: 40%;
$CustomTag-stroke: color(border-gray);
$CustomTag-hole: color(background);
$EmailARep-required: color(text);
$EmailARep-asterisk: color(primary);
$FeaturedVideoBlock-span-color: color(background);
$FeaturedVideoBlock-caption: color(secondary-dark);
$Footer-social-button: color(background);
$Footer-social-button-hover: color(primary);
$FooterAccordionMenu-link-color: color(text);
$FooterAccordionMenu-link-color-hover: color(primary);
$FooterAccordionMenu-active: color(background);
$FooterAccordionMenu-border-color: color(border-gray);
$FooterAccordionMenu-toggle: color(primary);
$Form-label-font: $header-font-family;
$Form-required-asterisk: color(primary);
$Header-mainBackground: color(background);
$Header-borderBottom: 1px solid color(border-gray);
$Header-activeColor: color(primary);
$Header-hamburgerColor: color(secondary);
$HeaderBanner5050-border: 1px solid color(background);
$HeaderBanner5050-background: color(text);
$HeaderBanner5050-text: color(text-inverse);
$HeroBanner-white: color(background);
$HeroBanner-overlay: color(text);
$HeroBanner-overlayAlt: color(secondary);
$IconIntro-background: color(background);
$IconIntro-border: 1px solid color(border-gray);
$ResourceResults-headerFontFamily: $header-font-family;
$ResourceListing-titleColor: color(secondary-dark);
$ResourceListing-titleHoverColor: color(primary-dark);
$ResourceListing-textHoverColor: color(text);

/// Main Menu
$MainMenu-height: 375px;
$MainMenu-subMenuHeight: 245px;
$MainMenu-productMenuHeight: 500px;
$MainMenu-productSubMenuHeight: 400px;
$MainMenu-headerMainNavBorder: 1px solid color(border-gray);

$Slider-border: 1px solid color(background);
$Slider-arrowBackground: color(primary);
$Slider-arrowBackgroundHover: darken(color(primary), 5%);

$MyAccountMenu-link: color(text);
$MyAccountMenu-icon: color(primary);
$MyAccountMenu-cartButton: color(text);
$MyAccountMenu-dropdownBackground: color(background-section);
$MyAccountMenu-dropdownBorder: 1px solid color(border-gray);
$MyAccountMenu-linkFont: $header-font-family;
$MyAccountMenu-linkColor: color(secondary-dark);
$MyAccountMenu-linkSize: $FontSize-xs;

$OffCanvasCart-close: color(primary);
$OffCanvasFilter-background: color(background-section);
$OffCanvasFilter-headerBackground: color(background);
$OffCanvasFilter-border: 1px solid color(border-gray);
$OffcanvasMain-background: color(background-section);
$OffcanvasMain-searchBackground: color(highlight);
$OffcanvasMain-buttonColor: color(primary);

$ProductComparisons-dark: color(secondary-dark);
$ProductComparisons-white: color(highlight);
$ProductComparisons-border: color(accent);
$ProductComparisons-background: color(background-section);
$ProductComparisons-secondary: color(secondary);

$ProductListingFilter-fontFamily: $header-font-family;
$ProductListingFilter-link: color(text);
$ProductListingFilter-linkHover: color(secondary);
$ProductListingFilter-border: 1px solid color(border-gray);
$ProductListingFilter-title: color(secondary-dark);
$ProductListingFilter-icon: color(primary);
$ProductListingSort-background: color(background-section);
$ProductListingSort-white: color(highlight);
$ProductListingSort-selectBackground: color(secondary);
$ProductListingSort-title: color(secondary-dark);
$ProductWarningBox-background: color(accent);
$ProductWarningBox-text: color(secondary-dark);

$RedHeaderBanner-background: color(primary);
$RedHeaderBanner-text: color(highlight);

$RepLocatorFilterBar-border: 4px solid color(highlight);
$RepLocatorFilterBar-select: color(text);

$RepLocatorResults-showing: color(secondary-dark);

$ResourcesSearchBar-white: color(highlight);
$ResourceListing-headerFontFamily: $header-font-family;

$SingleFeaturedCaseStudy-linkColor: color(primary);

$utility-background: color(secondary);
$utility-text: color(background);
$utility-fontSize: $FontSize-xs;

/// Template overrides

/// Page overrides
