////
/// Components Setup
/// This file is intended to import any variables and mixins needed to compile the individual components. This file will
/// be included automatically during the theme build process for each of the webpack SCSS entries.
///
/// NOTE: Be sure to only import files that define assets like SCSS variables, mixins and functions. If you import any
/// files that output styles directly, those styles will be included in every component's css file.
////

/// Import project-specific colors
@import '00-base/00-colors/01-colors-used';

/// Import Foundation with its custom settings
@import '00-base/01-defaults/00-foundation-settings';

/// Import our component library settings
@import '00-base/01-defaults/01-component-settings';

/// Import mixin definitions
@import '00-base/01-defaults/02-mixins';

/// @todo See if this is needed here - remove if not:
@import '~foundation-sites/scss/global';

/// These Foundation mixins are commented out here because they are not needed by every component. Instead, @import the
/// required Foundation library at the start of each component SCSS file that @includes mixins from these Foundation
/// components.
/// See 01-atoms/buttons/Button/Button.scss for an example.

///@include foundation-xy-grid-classes;
///@include foundation-flex-classes;
///@include foundation-typography;
///@include foundation-forms;
///@include foundation-button;
///@include foundation-accordion;
///@include foundation-accordion-menu;
///@include foundation-badge;
///@include foundation-breadcrumbs;
///@include foundation-button;
///@include foundation-button-group;
///@include foundation-callout;
///@include foundation-card;
///@include foundation-close-button;
///@include foundation-menu;
///@include foundation-menu-icon;
///@include foundation-drilldown-menu;
///@include foundation-dropdown;
///@include foundation-dropdown-menu;
///@include foundation-responsive-embed;
///@include foundation-label;
///@include foundation-media-object;
///@include foundation-off-canvas;
///@include foundation-orbit;
///@include foundation-pagination;
///@include foundation-progress-bar;
///@include foundation-slider;
///@include foundation-sticky;
///@include foundation-reveal;
///@include foundation-switch;
///@include foundation-table;
///@include foundation-tabs;
///@include foundation-thumbnail;
///@include foundation-title-bar;
///@include foundation-tooltip;
///@include foundation-top-bar;
///@include foundation-visibility-classes;
///@include foundation-float-classes;
