////
/// Storybook Setup
/// Includes all base components and theme assets needed to render storybook
////

@import '~normalize.css/normalize';
@import 'base-components/setup';
@import 'base-components/00-base/00-colors/02-colors-demo';
@import 'base-components/00-base/02-motions/motions-demo';
@import '~foundation-sites/scss/foundation';
@include foundation-everything;

/// Utility classes
@import '../src/scss/utilities';

/// Components
@import 'base-components/01-atoms/**/*.scss';
@import 'base-components/02-molecules/**/*.scss';
@import 'base-components/03-organisms/**/*.scss';
@import 'base-components/04-templates/**/*.scss';

/// Manually loading theme fonts here because the paths are different
@import 'base-components/00-base/01-defaults/03-fontawesome';

@font-face {
  font-family: 'Selawik';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/selawik/Selawik.ttf.woff') format('woff'),
  url('../fonts/selawik/Selawik.ttf.svg#Selawik') format('svg'),
  url('../fonts/selawik/Selawik.ttf.eot'),
  url('../fonts/selawik/Selawik.ttf.eot?#iefix') format('embedded-opentype');
}

/// @todo After all components are in, refactor any references to the semibold font to just 'Selawik' with a 600 weight
@font-face {
  font-family: 'Selawik Semibold';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/selawik/selawksb.woff') format('woff');
}

/// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
