.MyAccountMenu {
  $self: &;

  a {
    color: clr(text);
  }

  .far {
    color: clr(primary);
    font-size: 1.125rem;

    @include breakpoint(medium only) { // This is to match Melanie's design.
      margin-bottom: 0.5rem;
      text-align: center;
      width: 100%;
    }

    @include breakpoint(large) {
      font-size: 1rem;
    }
  }

  &-account {
    //.far {
    //  @include breakpoint(medium only) {
    //    margin-left: 3px; /* to match the design  */
    //  }
    //}

    a::after {
      @include breakpoint(small only) {
        display: none !important; // all screens by default show the arrow, but melanie has it removed from mobile
      }

      @include breakpoint(medium only) { // this is to match the tablet ONLY design, overriding Foundation styles
        //bottom: 1rem;
        display: inline-block !important;
        margin-left: 9px;
        margin-bottom: 2px;
        position: relative;
        //position: absolute;
        //right: -2px !important;
        //top: auto;
      }
    }
  }

  &-dropdown #{$self}-title {
    line-height: 1;
    padding: 0.75rem;
    text-align: center;

    @include breakpoint(medium) {
      padding: 0.75rem;
    }
  }

  &-dropdownMenu #{$self}-account #{$self}-title {
    padding-right: 0.75rem;

    @include breakpoint(large) {
      padding-right: 1.5rem;
    }
  }

  .Header-cartButton {
    color: clr(text);
    cursor: pointer;
    padding-right: 0;
  }

  &-dropdown {
    $self: &;

    justify-content: flex-end;

    #{$self}-account {
      &:hover,
      &:focus,
      &:focus-within {
        #{$self}-dropdownMenu {
          &::after {
            display: block;
          }
        }
      }
    }

    #{$self}-dropdownMenu {
      &::before {
        background: clr(background-section);
        border: 1px solid $gray--medium;
        border-bottom: 0;
        border-right: 0;
        content: '';
        display: none;
        height: 10px;
        margin-left: 1rem;
        position: absolute;
        top: -4px;
        transform: rotate(45deg);
        width: 10px;
        z-index: 100;
      }
    }
  }

  &-dropdownMenu {
    padding-left: 20px;
    padding-right: 20px;

    &::after {
      background: clr(background-section);
      border: 1px solid $gray--medium;
      border-bottom: 0;
      border-right: 0;
      content: '';
      display: none;
      height: 10px;
      margin-left: 1.25rem;
      position: absolute;
      top: -6px;
      transform: rotate(45deg);
      width: 10px;
      z-index: 100;
    }

    .MyAccountMenu-dropdownMenuItem {
      border-bottom: 1px solid $gray--medium;

      a {
        color: clr(primary-alt);
        font-family: $header-font-family;
        font-size: $FontSize-xs;
        padding-left: 0;
        padding-right: 0;
        text-transform: uppercase;

        &:hover {
          color: clr(secondary);
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
