.FeaturedBlogPosts {
  &-headline {
    @include breakpoint(medium down) {
      margin-bottom: 1rem;
    }
  }

  &-slider {
    .slick-slide {
      padding: 20px;
    }

    @include breakpoint(medium down) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}