$LinkButton-family: sans-serif !default;
$LinkButton-color: #484848 !default;
$LinkButton-hover: red !default;
$LinkButton-icon: blue !default;

@mixin LinkButton(
  $font-family: $LinkButton-family,
  $font-weight: 400,
  $text-transform: uppercase,
  $padding: 0.5rem,
  $font-size: rem-calc(14),
  $color: $LinkButton-color,
  $hover-color: $LinkButton-hover,
  $icon-color: $LinkButton-icon,
  $icon-padding: 0 0.325rem 0 0,
) {
  font-family: $font-family;
  font-weight: $font-weight;
  text-transform: $text-transform;
  padding: $padding;
  font-size: $font-size;
  color: $color;
  cursor: pointer;

  &:hover {
    color: $hover-color;
  }

  .fal {
    color: $icon-color;
    padding: $icon-padding;
  }
}

.LinkButton {
  @include LinkButton;
}
