.IntroWithIcons {
  border-top: 2px solid $white;
  padding-bottom: 1rem;

  &-container {
    background: $white;
    border: 1px solid $gray--medium;
    margin-top: -7rem;

  }

  &-text {
    padding: 1rem;
    @include breakpoint($medium) {
      padding: 2.5rem 2.5rem 1rem;
    }

  }

  &-block {
    padding: 3rem 1rem;
    //border: 1px solid $medium-gray;
    text-align: center;
    border-top: 1px solid $gray--medium;

    &:nth-child(odd) {
      border-right: 1px solid $gray--medium;
    }

    @include breakpoint($large) {
      padding: 3rem 2rem;
      border-left: 1px solid $gray--medium;
      &:nth-child(odd) {
        border-right: 0;
      }
      &:nth-child(2), &:nth-child(3), &:first-child {
        border-top: 0;
      }
    }

    &-icon {
      margin-bottom: 1rem;

      svg {
        max-width: 75px;
        max-height: 75px;
        margin: auto;
      }
    }

    &-title {
      text-transform: uppercase;
      font-family: $header-font-family;
      font-size: rem-calc(14);
      line-height: 1.2;
    }
  }

  + .bg-light {
    padding-top: 2rem;
  }
}
