$IntroWithIcons-borderTop: 2px solid #fff !default;
$IntroWithIcons-containerBackground: #fff !default;
$IntroWithIcons-containerBorder: 1px solid black !default;
$IntroWithIcons-titleFontFamily: sans-serif !default;

.IntroWithIcons {
  border-top: $IntroWithIcons-borderTop;
  padding-bottom: 1rem;

  &-container {
    background: $IntroWithIcons-containerBackground;
    border: $IntroWithIcons-containerBorder;
    margin-top: -7rem;
  }

  &-text {
    padding: 1rem;
    @include breakpoint(medium) {
      padding: 2.5rem 2.5rem 1rem;
    }

  }

  &-blocks > .grid-x {
    height: 100%;
  }

  &-block {
    padding: 3rem 1rem;
    //border: 1px solid $medium-gray;
    text-align: center;
    border-top: $IntroWithIcons-containerBorder;

    &:nth-child(odd) {
      border-right: $IntroWithIcons-containerBorder;
    }

    @include breakpoint(large) {
      padding: 3rem 2rem;
      border-left: $IntroWithIcons-containerBorder;
      &:nth-child(odd) {
        border-right: 0;
      }
      &:nth-child(2), &:nth-child(3), &:first-child {
        border-top: 0;
      }
    }

    &Icon {
      margin-bottom: 1rem;

      svg, img {
        width: 75px;
        height: 75px;
        margin: auto;
      }

      img {
        object-fit: contain;
      }
    }

    &Title {
      text-transform: uppercase;
      font-family: $IntroWithIcons-titleFontFamily;
      font-size: rem-calc(14);
      line-height: 1.2;
    }
  }

  + .bg-light {
    padding-top: 2rem;
  }
}
