.IndividualResourceDownloadsIcon {
  display: flex;
  flex-flow: row wrap;
  padding: .75rem 0 .5rem;
  border-top: 1px solid $gray--medium;

  &:first-child {
    border: none;
  }


  &-icon {
    width: 40px;
    padding-right: 1rem;
    svg {
      path {
        fill: $blue;
      }
    }
  }

  &-text {
    width: calc(100% - 40px);
  }

  &-subtitle {
    color: $gray--dark;
  }
}
