<li class="FormItem FormItem--type-checkbox Checkbox">
  <label for="checkbox{{ key }}">
    <input id="checkbox{{ key }}" name="checkbox" type="checkbox" class="Checkbox-input" {% if checkbox_item_checked %}checked="{{ checkbox_item_checked }}"{% endif %}> {{ checkbox_item }}
  </label>
</li>
