.IconTeaserBlock {
  $self: &;

  &-container {
    display: block;
    background: $light-gray;
    color: $blue;
    padding: 1rem 1rem 4rem;
    position: relative;
    min-height: 145px;
    height: 100%;

    .bg-light & {
      background: $white;
    }

    @include transition;

    &:hover {
      background: $red;
      color: $white;

      h4 {
        color: $white;
      }

      #{$self}-icon {
        path {
          fill: $white;
        }
      }
    }
  }

  &-icon {
    svg {
      max-width: 50px;
      max-height: 50px;
      path {
        fill: $blue;
        @include transition;
      }
    }
  }


  &-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;

    &Title {
      flex: 0 1 auto;
      margin-bottom: 0;
      @include transition;
      @include breakpoint(medium) {
        padding-right: 1rem;
      }
    }

    span {
      flex: 0 1 auto;
      font-size: 24px;
      @include breakpoint(small only) {
        display: none;
      }
    }
  }
}
