$IconTeaserBlock-background: #eee !default;
$IconTeaserBlock-color: blue !default;
$IconTeaserBlock-lightBackground: #fff !default;
$IconTeaserBlock-hoverBackground: red !default;
$IconTeaserBlock-hoverText: #fff !default;

.IconTeaserBlock {
  $self: &;

  &-container {
    @include transition;

    background: $IconTeaserBlock-background;
    color: $IconTeaserBlock-color;
    display: block;
    height: 100%;
    min-height: 145px;
    padding: 1rem 1rem 4rem;
    position: relative;

    .bg-light & {
      background: $IconTeaserBlock-lightBackground;
    }

    &:hover {
      background: $IconTeaserBlock-hoverBackground;
      color: $IconTeaserBlock-hoverText;

      h4 {
        color: $IconTeaserBlock-hoverText;
      }

      #{$self}-icon {
        path {
          fill: $IconTeaserBlock-hoverText;
        }
      }
    }
  }

  &-icon {
    svg {
      max-height: 50px;
      max-width: 50px;

      path {
        @include transition;

        fill: $IconTeaserBlock-color;
      }
    }
  }


  &-text {
    align-items: flex-end;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    left: 1rem;
    position: absolute;
    text-transform: uppercase;
    width: calc(100% - 2rem);

    &Title {
      @include transition;

      flex: 0 1 auto;
      margin-bottom: 0;

      @include breakpoint(medium) {
        padding-right: 1rem;
      }
    }

    span {
      flex: 0 1 auto;
      font-size: 24px;

      @include breakpoint(small only) {
        display: none;
      }
    }
  }
}
