.FeaturedTestimonials {
  $self: &;

  #{$self}-slider {
    padding-bottom: 4rem;
    @include breakpoint(large) {
      padding-bottom: 0;
      .slick-prev {
        left: calc(25% - 83px);
      }
      .slick-next {
        right: calc(75% - 83px);

      }
    }
  }
}
