{#
/**
 * Available variables:
 * - li__base_class - the base classname
 * - li__modifiers - array of modifiers to add to the base classname
 * - li__blockname - blockname prepended to the base classname
 * - list_item__label - (optional) a <strong> label before the list item itself
 * - list_item__content - the content of the list_item (typically text)
 *
 * Available blocks:
 * - list_item__content - used to replace the content of the list_item with something other than text
 *   for example: to insert the image and/or link components
 */
#}
{% set li__base_class = li__base_class|default('list-item') %}

<li {{ bem(li__base_class, li__modifiers, li__blockname) }}>
  {% block list_item__content %}
    {% if list_item__label %}<strong>{{ list_item__label }}</strong> {% endif %}
    {{ list_item__content }}
  {% endblock %}
</li>
