{#
/**
 * @file
 * Featured Product Categories
 * used on Homepage
 *
 * Available variables:
 * - featured_categories__base_class - the base class name
 * - featured_categories__modifiers - array of modifiers to add to the base classname
 * - featured_categories__blockname - blockname prepended to the base classname
 * - featured_categories__extra_classes - extra classes
 * -
 * - featured_categories__title
 * - featured_categories__body
 * - featured_categories__button_title
 * - featured_categories__url
 * - featured_categories__categories
*/
#}

{% set featured_categories__base_class = featured_categories__base_class|default('FeaturedProductCategories') %}

{% if featured_categories__categories %}
  <section
    id="FeaturedProductCategories" {{ suit(featured_categories__base_class, featured_categories__modifiers, featured_categories__blockname, featured_categories__extra_classes) }}>
    <div class="grid-container">
      <header class=" grid-x grid-margin-x">
        <div class="cell medium-8">
          {% include '@atoms/text/Heading.twig' with {
            heading__base_class: '',
            heading__level: 2,
            heading: featured_categories__title,
          } %}
        </div>
        <div class="cell medium-4 medium-text-right">
          <a href="{{ featured_categories__url }}"
             class="button">{{ featured_categories__button_title }} <span
              class="fas fa-caret-right"></span></a>
        </div>
      </header>
      <div class="FlexRow medium-up-2 text-center">
        {% for category in featured_categories__categories %}
          {% include '@molecules/ProductCategoryTeaserBlock/ProductCategoryTeaserBlock.twig' with {
            product_category_teaser_block__title: category.title,
            product_category_teaser_block__body: category.body,
            product_category_teaser_block__image: category.image,
            product_category_teaser_block__url: category.url,
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
