.ProductCategoryTeaserBlock {
  $self: &;
  display: block;
  text-align: center;

  &-text {
    padding: 1rem 0;
    @include breakpoint(large) {
      padding: 1.75rem 2rem;
    }
  }

  &-title {
    color: $red;
    @include breakpoint(large) {
      margin-bottom: 1.25rem;
    }
  }

  p {
    color: $gray--dark;
  }
}
