$ProductCategoryTeaserBlock-title: orange !default;
$ProductCategoryTeaserBlock-text: blue !default;

.ProductCategoryTeaserBlock {
  $self: &;

  display: block;
  text-align: center;

  &-text {
    padding: 1rem 0;

    @include breakpoint(large) {
      padding: 1.75rem 2rem;
    }
  }

  &-title {
    color: $ProductCategoryTeaserBlock-title;

    @include breakpoint(large) {
      margin-bottom: 1.25rem;
    }
  }

  p {
    color: $ProductCategoryTeaserBlock-text;
  }
}
