$hamburger-color: clr(primary);

// hamburger
.bar1,
.bar2,
.bar3 {
  background-color: $hamburger-color;
  border-radius: 1px;
  height: 2px;
  margin: 3px 0 3px auto;
  transition: .4s;
  width: 18px;
}

.hamburger {
  padding-right: 0.5rem;

  a {
    display: block;
    padding: 1rem 0; // adding more padding so more of it is clickable

    &[aria-expanded="true"] {
      .bar1 {
        transform: rotate(-45deg) translate(-7px, 10px);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: rotate(45deg) translate(-7px, -10px);
      }
    }
  }
}
