$hamburger-color: $blue;
/*hamburger */
.bar1, .bar2, .bar3 {
  width: 18px;
  height: 2px;
  background-color: $hamburger-color;
  margin: 3px 0 3px auto;
  transition: .4s;
  border-radius: 1px;
}

.hamburger {
  padding-right: .5rem;

  a {
    display: block;
    padding: 1rem 0; // adding more padding so more of it is clickable

    &[aria-expanded=true] {
      .bar1 {
        transform: rotate(-45deg) translate(-7px, 10px);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: rotate(45deg) translate(-7px, -10px);
      }
    }
  }

}
