$ResourceResult-border: 1px solid #484848 !default;
$ResourceResult-hoverText: white !default;
$ResourceResult-title: black !default;
$ResourceResult-subtitle: pink !default;

.ResourceResult {
  $self: &;
  @include transition;

  #{$self}-container {
    border: 1px solid $ResourceResult-border;

    &:hover {
      #{$self}-title, #{$self}-subtitle, #{$self}-caption {
        color: $ResourceResult-hoverText;
      }
    }
  }

  &-image {
    display: none;
    padding-top: 130%;
  }

  &-icon {
    justify-content: center;
    text-align: center;

    > span {
      width: 100%;
    }
  }

  #{$self}-text {
    background: $ResourceResult-hoverText;
    padding: 0.5rem 1rem;
  }

  #{$self}-title {
    color: $ResourceResult-title;
    text-transform: capitalize;
  }

  #{$self}-subtitle {
    color: $ResourceResult-subtitle;
    font-size: rem-calc(14);
    font-weight: bold;
    margin-bottom: 0;
  }

  &-caption {
    margin-bottom: 0;
    text-transform: initial;
  }
}

.ResourceResultVideo {
  $self: &;

  #{$self}-image {
    display: none;
  }

  p {
    color: $ResourceResult-subtitle;
  }
}
