$blockquote-iconFamily: 'sans-serif' !default;
$blockquote-fontFamily: 'sans-serif' !default;

blockquote {
  position: relative;
  border-left: 0;

  @include breakpoint(medium) {
    padding-left: 100px;
  }

  @include breakpoint(large) {
    max-width: 80%;
    margin: auto;
  }

  &::before {
    content: '\f10d';
    color: color(accent);
    font-family: $blockquote-iconFamily;
    font-size: 60px;
    font-weight: bold;

    @include breakpoint(medium) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  p {
    font-family: $blockquote-fontFamily;
    font-weight: bold;
    color: color(primary-dark);
    line-height: 1.4;
    text-rendering: optimizeLegibility;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
      margin-bottom: 1rem;
    }

    @include breakpoint(large) {
      font-size: rem-calc(20);
    }
  }

  cite {
    font-style: normal;
    font-size: 1rem;

    &::before {
      content: '';
    }
  }
}
