.IndividualRep {
  &-image {
    border: 1px solid $white;
  }

  &-contact {
    a {
      color: $gray--dark;
      @include transition;

      &:hover {
        color: $red;
        text-decoration: underline;
      }
    }
  }
}
