/* Mostly Foundation Overrides */
.tooltip {
  border: 1px solid $medium-gray;

  &::before {
    filter: drop-shadow(0 1px 0 $medium-gray);
  }
}

.off-canvas-wrapper {
  overflow: initial; /* set to initial so that I can use position:sticky for product images */
}
