////
/// Utilities
/// General utility classes used throughout the theme
////

/// Section - Adds standard margins and padding
section,
.section {
  padding: 2rem 0;

  @include breakpoint(medium) {
    padding: 3rem 0;
  }

  @include breakpoint(large) {
    padding: 4rem 0;
  }

  .section-header {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      margin-bottom: 3rem;
    }
  }
}

/// Grid Container
.grid-container {
  width: 100%;

  @include breakpoint(small only) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.short {
    @media (min-width: 1024px) {
      max-width: 825px;
    }
  }
}

hr {
  max-width: 1394px;
}

/// Flexbox Helpers
.vertical-center {
  align-items: center;
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

/// Text Helpers
.wysiwig,
.wysiwyg {
  a {
    &:not(.button) {
      text-decoration: underline;
    }
  }
}

.styled-bullets {
  ul {
    list-style-type: none;
    margin-bottom: 1.5rem;
    margin-left: 0;
    padding-left: 26px;

    li {
      margin-bottom: 0.5rem;
    }

    li::before {
      color: color(accent);
      content: '\f14a';
      font-family: $font-family-fontawesome;
      margin: 0 7px 0 -26px;
      padding-right: 5px;

      .bg-secondary &,
      .bg-dark-blue &,
      .bg-dark &,
      .bg-blue & {
        color: color(text-inverse);
      }
    }
  }
}

.headline {
  &.oversize {
    font-size: rem-calc(48);
    line-height: 1.1;

    @include breakpoint(medium) {
      font-size: rem-calc(85);
    }
  }
}

p {
  font-size: rem-calc(14);

  @include breakpoint(medium) {
    font-size: rem-calc(16);
  }

  &.small {
    font-size: rem-calc(11);
  }

  &.large {
    font-size: rem-calc(16);

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }

    @include breakpoint(large) {
      font-size: rem-calc(20);
    }
  }
}

.title {
  margin-bottom: 0.75em;
}

.HeaderFont {
  font-family: $header-font-family;
  font-weight: 600;

  &--regular {
    @include header-font-family-regular;
  }
}

sup {
  font-size: small;
  font-size: 15%;
  top: auto;
  vertical-align: super;
}

.uppercase {
  text-transform: uppercase;
}

/// Lozad - adds additional styles to lozad elements to make them smoother
.lozad {
  opacity: 0;
  transition: ease all 0.3s;

  &[data-loaded='true'] {
    opacity: 1;
  }
}

.reveal {
  &:focus,
  &:focus-within {
    outline: none;
  }
}

/// Slick Slider
.slick-slide {
  padding: 1rem;

  &:focus {
    outline: none;
  }
}

.slick-dots {
  left: 0; // Fix for IE if you're not using full width slick sliders
}

/// Foundation overrides
.tooltip {
  border: 1px solid color(border-gray);

  &::before {
    filter: drop-shadow(0 1px 0 color(border-gray));
  }
}

.off-canvas-wrapper {
  overflow: initial; // Set to initial so that I can use position:sticky for product images
}

.sr-only {
  display: none; // @TODO: where was the class coming from on the markserv-frontend-components?
}

/// Color Utility Classes
.white {
  color: color(background);
}

.bg-light {
  background: color(background-section);

  + .bg-light {
    padding-top: 0; // This fixes the too much padding problem if two sections have bg-light in a row
  }
}

.bg-dark {
  background: color(text);
}

.bg-yellow {
  background: color(accent);
}

.bg-dark-blue {
  background: color(secondary-dark);
}

.bg-blue {
  background: color(secondary);
}

.bg-blue, .bg-dark-blue, .bg-dark {
  color: color(text-inverse);

  h1, h2, h3, h4, h5, p, a {
    color: color(text-inverse);
  }
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

.Heading-wrapper {
  padding-top: 2rem;
}

/// Custom animations
a {
  .Zoom {
    overflow: hidden;
    position: relative;

    &-image,
    img {
      @include transition;
    }
  }

  &:hover {
    @include breakpoint(large) {
      .Zoom {
        &-image,
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.demo-animation {
  background-color: color(background-section);
  border-radius: 2px;
  cursor: pointer;
  padding: 3rem;

  .Zoom-image {
    display: block;
    margin: 0 auto;
  }
}

/// AOS Animations
[data-aos='fade-up'] {
  @include transition;

  transform: translate(0, 20px);
}

[data-aos='fade-right'] {
  @include transition;

  transform: translate3d(-20px, 0, 0);
}

[data-aos='fade-left'] {
  @include transition;

  transform: translate3d(20px, 0, 0);
}

[data-aos^='counter'] {
  @include transition;

  transform: scale(.1);

  &.aos-animate {
    transform: scale(1);
  }
}

[data-aos='SectionFade'] {
  .SectionFade-one,
  .SectionFade-two,
  .SectionFade-three,
  .SectionFade-four {
    @include transition;

    opacity: 0;
    transform: translate(0, 20px);
    transition: 0.6s ease-out;
  }

  .SectionFade-two {
    transition-delay: 0.3s;
  }

  .SectionFade-three {
    transition-delay: 0.5s;
  }

  .SectionFade-four {
    transition-delay: 0.7s;
  }

  &.aos-animate {
    .SectionFade-one,
    .SectionFade-two,
    .SectionFade-three,
    .SectionFade-four {
      @include transition;

      opacity: 1;
      transform: translate(0);
    }
  }
}

.demo-aos-animation {
  background-color: color(background-section);
  border-radius: 2px;
  color: color(text);
  cursor: pointer;
  padding: 3rem;
  text-align: center;

  span {
    display: block;
    margin: 0.25rem;
  }
}

