/* General utility styling classes */
section,
.section {
  padding: 2rem 0;

  @include breakpoint(medium) {
    padding: 3rem 0;
  }

  @include breakpoint(large) {
    padding: 4rem 0;
  }

  .section-header {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      margin-bottom: 3rem;
    }
  }
}

.grid-container {
  width: 100%;

  @include breakpoint(small only) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.short {
    @media (min-width: 1024px) {
      max-width: 825px; // for XL screens
    }
  }
}

hr {
  max-width: 1394px;
}

.vertical-center {
  align-items: center;
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

/* Text */
.wysiwig,
.wysiwyg {
  a {
    &:not(.button) {
      text-decoration: underline;
    }
  }
}

.styled-bullets {
  ul {
    list-style-type: none;
    margin-bottom: 1.5rem;
    margin-left: 0;
    padding-left: 26px;

    li {
      margin-bottom: 0.5rem;
    }

    li::before {
      color: color(accent);
      content: '\f14a';
      font-family: $font-family-fontawesome;
      margin: 0 7px 0 -26px;
      padding-right: 5px;

      .bg-secondary &,
      .bg-dark-blue &,
      .bg-dark &,
      .bg-blue & {
        color: color(text-inverse);
      }
    }
  }
}

.headline {
  &.oversize {
    font-size: rem-calc(48);
    line-height: 1.1;

    @include breakpoint(medium) {
      font-size: rem-calc(85);
    }
  }
}

p {
  font-size: rem-calc(14);

  @include breakpoint(medium) {
    font-size: rem-calc(16);
  }

  &.small {
    font-size: rem-calc(11);
  }

  &.large {
    font-size: rem-calc(16);

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }

    @include breakpoint(large) {
      font-size: rem-calc(20);
    }
  }
}

.title {
  margin-bottom: 0.75em;
}

.HeaderFont {
  font-family: $header-font-family;
  font-weight: 600;

  &--regular {
    @include header-font-family-regular;
  }
}

sup {
  font-size: small;
  font-size: 15%;
  top: auto;
  vertical-align: super;
}

.uppercase {
  text-transform: uppercase;
}

/* If you're using lozad, this makes it smoother */
.lozad {
  opacity: 0;
  transition: ease all .3s;

  &[data-loaded="true"] {
    opacity: 1;
  }
}

.reveal {
  &:focus, &:focus-within {
    outline: none; /* does not seem necessary */
  }
}

/* To be removed? */
// if using slick slider
.slick-slide {
  padding: 1rem;

  &:focus {
    outline: none;
  }
}

// fix for IE if you're not using full width slick sliders
.slick-dots {
  left: 0;
}

/* Mostly Foundation Overrides */
.tooltip {
  border: 1px solid color(border-gray);

  &::before {
    filter: drop-shadow(0 1px 0 color(border-gray));
  }
}

.off-canvas-wrapper {
  overflow: initial; /* set to initial so that I can use position:sticky for product images */
}

.sr-only {
  display: none; // @todo where was the class coming from on the markserv-frontend-components?
}
