$self: '.IndividualCaseStudyTeaser';

.LargeLatestCaseStudy[class] {
  padding: 2rem 0;

  .IndividualCaseStudyTeaser {
    #{$self}-imageWrapper, #{$self}-text {
      @include breakpoint($xl) {
        width: calc(50% - 1.25rem);
      }
    }

    #{$self}-bullets > li {
      //@include breakpoint($large) {
      //  width: 100%;
      //}
    }
  }
}
