.IndividualResourceDownloadsThumbnail {
  display: flex;
  flex-flow: row wrap;

  &-image {
    width: 100px;

    img {
      width: 80px;
      @include box-shadow;
    }

    a:hover {
      img {
        @include box-shadow-hover;
      }
    }
  }

  &-text {
    width: calc(100% - 100px);
  }
}
