$OffcanvasMenu-first-tier-background: $gray--light !default;
$OffcanvasMenu-first-tier-text: $blue--dark !default;
$OffcanvasMenu-second-tier-background: $gray--light !default;
$OffcanvasMenu-second-tier-text: $gray--dark !default;
$OffcanvasMenu-third-tier-background: $gray--light !default;
$OffcanvasMenu-third-tier-text: $gray--dark !default;
$OffcanvasMenu-active-background: clr(primary) !default;
$OffcanvasMenu-active-text: $white !default;
$OffcanvasMenu-border-color: $gray--medium !default;

/**
 OVERRIDES for Foundation
 */
.is-open .is-accordion-submenu.invisible {
  visibility: visible; // I am not sure why that invisible class is getting added by Foundation, but this needs to be visible
}

// Drilldown 'go back' arrow
.drilldown .js-drilldown-back > a::before {
  border: inset 4px;
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent $red transparent transparent;
  content: '';
  margin-right: 0.5rem;
  vertical-align: baseline;
}

.js-drilldown-back a {
  font-size: 0 !important; // This hides the foundation 'back' text so that I can replace it with the ::after 'Go BacK'

  &::after {
    content: 'GO BACK';
    font-size: rem-calc(12px);
    font-family: $header-font-family;
    line-height: 1;
    padding-top: 4px;
  }
}

/** END overrides for foundation **/

.OffcanvasMenu {
  background: $OffcanvasMenu-first-tier-background;
  border-top: 1px solid $gray--medium;
  overflow-y: scroll;
  padding: 1rem 1rem 0;
  position: relative;
  // Custom Scroll Bar - might move this out to its own snippet
  scrollbar-width: thin;
  scrollbar-color: $yellow $gray--light;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $gray--medium;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $yellow;
    position: relative;
  }

  a:focus,
  a:focus-within,
  .button:focus,
  .button:focus-within {
    outline: none; // Requested by melanie. This is bad for accessibility.
  }

  a {
    font-family: $header-font-family;
    font-size: rem-calc(16px);
    padding: 0.7rem 0;
    color: $OffcanvasMenu-first-tier-text;

    &:not(.button) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-menu {
    z-index: 1; // for weird Safari bug
  }

  .OffcanvasMenu-menu > .OffcanvasMenu-menuParent {
    background: $OffcanvasMenu-first-tier-background;
    border-bottom: 1px solid $OffcanvasMenu-border-color;

    &:last-child {
      border-bottom: none;
    }

    > a {
      text-transform: uppercase;
    }

    > .OffcanvasMenu-menuChildren {
      background: $OffcanvasMenu-second-tier-background;

      a {
        font-size: rem-calc(14px);
        font-weight: 400;
        font-family: $body-font-family;
        color: $OffcanvasMenu-second-tier-text;

        &.link {
          color: clr(primary);
          font-family: $header-font-family;
        }
      }

      > .OffcanvasMenu-parent a { // the class added via JS, to match the design
        color: clr(primary-alt);
        font-family: $header-font-family;
        font-size: 1rem;
        text-transform: uppercase;
      }

      > .OffcanvasMenu-menuChild {
        > a {
          color: clr(primary-alt);
          font-family: $header-font-family;
          font-size: 1rem;
          text-transform: uppercase;
        }

        &.has-description {
          > a {
            text-transform: none;
          }
        }

        p {
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        > .OffcanvasMenu-grandchildren {
          &--noMenu .OffcanvasMenu-grandchild {
            padding-left: 0.5rem;
          }
        }
      }
    }

    .MegaMenu-teasers.FlexRow {
      margin-left: 0;
      padding-top: 0;

      .FlexRow-item {
        a {
          padding-top: 0;
        }
      }
    }
  }

  .Header-utilityMenu {
    li {
      width: 100%;
    }
  }

  .cta-banner__button {
    font-size: 1rem;
    padding: 0.75rem 0.25rem;
  }

  // Commenting this out for now, since I don't know what Drupal's active classes look like
  // Leaving it here in case it's useful in the future
  //.current-page-parent, .current-page-ancestor { // .current-menu-parent, .current-menu-ancestor
  //  background: $offcanvas-active-background;
  //
  //  > a {
  //    color: $offcanvas-active-text;
  //
  //  }
  //
  //}
  //
  //.current_page_item, .active {
  //  background: $offcanvas-active-background;
  //
  //  > a {
  //    background: $offcanvas-active-background;
  //    color: $offcanvas-active-text;
  //  }
  //}
  //
  //.active, .current-page-ancestor, .current-page-parent {
  //  > .submenu-toggle::after {
  //    border-color: $offcanvas-active-text transparent transparent;
  //  }
  //}

  .button {
    color: clr(text-inverse);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.OffcanvasMenu .OffcanvasMenu-menu > .OffcanvasMenu-menuParent.is-MegaMenu-product > .OffcanvasMenu-menuChildren > .OffcanvasMenu-menuChild > a {
  text-transform: none;
}

.OffcanvasMenu-menuParent.is-MegaMenu-product .OffcanvasMenu-grandchild {
  border-bottom: 1px solid $gray--medium;
}
