{#
/**
 * @file
 * Template for Label element
 *
 * Available variables:
 * - label_content - the content of the label (typically text)
 * - label_for - the id of the input that this label is for
 *
 * Available blocks:
 * - label_content - used to replace the content of the label with something other than text
 *   for example: to insert an input element
 */
#}
{% set label_base_class = label_base_class|default('Label') %}

{% set additional_attributes = {
  'class': bem(label_base_class, label_modifiers, label_blockname),
  'for': label_for,
} %}

{% spaceless %}
  <label {{ add_attributes(additional_attributes) }}>
     {% block label_content %}
       {{ label_content }}
     {% endblock %}
  </label>
{% endspaceless %}
