$padding-normal: 10px !default;
$padding-tight: 2px !default;

.ProductListingSort {
  align-items: center;
  background: clr(background-section);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 1.5rem;

  &-select, &-select:active, &-select:focus {
    background-color: clr(primary);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 255, 255%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    border: none;
    color: clr(text-inverse);
    font-family: $header-font-family;
    font-size: 1rem;
    height: 40px;
    margin-bottom: 0;
    transition: none;

    @include breakpoint($large) {
      font-size: rem-calc(14px);
    }

    option {
      background-color: clr(primary);
      color: clr(text-inverse);
    }
  }

  &-viewButtons {
    flex: 0 1 auto;
    padding: $padding-normal;
    padding-left: 0;
    width: 100%;

    @include breakpoint($medium) {
      flex-shrink: 1;
      width: auto;
    }

    &Mobile {
      .button {
        width: 100%;

        @include breakpoint($medium) {
          width: auto;
        }
      }

      &.small-up-2 {
        @include breakpoint($medium) {
          .FlexRow-item {
            width: 100%;
          }
        }
      }
    }

    &Row {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      margin-left: -$padding-tight;
      margin-right: -$padding-tight;
    }

    &Title {
      color: clr(primary-alt);
      flex: 0 1 auto;
      font-family: $header-font-family;
      font-weight: bold;
      padding: $padding-tight;
      padding-right: 1rem;
      width: 100%;

      @include breakpoint($large) {
        flex-grow: 1;
        text-align: right;
        width: auto;
      }
    }

    &Button {
      flex: 0 1 auto;
      padding: $padding-tight;
    }

    .button {
      margin-bottom: 0;

      [class^="fa"] {
        padding-left: 0;
        padding-right: .5rem;
        position: relative;
        transition: none;
      }
    }
  }

  &-mobileButton {
    font-size: 1rem;
    height: 40px;
    padding: 0.5rem;
    text-align: left;

    @include breakpoint($large) {
      font-size: rem-calc(14px);
    }
  }
}
