/** Needed my own custom row for the 4px margin grid **/
.FlexRow {
  display: flex;
  flex-flow: row wrap;
  margin-left: -2px;
  margin-right: -2px;
}

.FlexRow-item {
  flex: 0 0 auto;
  padding: 2px;
  width: 100%;

  .FlexRow.small-up-2 & {
    width: 50%;
  }

  .FlexRow.small-up-3 & {
    width: 33.3333%;
  }

  @include breakpoint($medium) {
    .FlexRow.medium-up-2 & {
      width: 50%;
    }

    .FlexRow.medium-up-3 & {
      width: 33.3333%;
    }

    .FlexRow.medium-up-6 & {
      width: 16.6667%;
    }
  }

  @include breakpoint($large) {
    .FlexRow.large-up-3 & {
      width: 33.3333%;
    }

    .FlexRow.large-up-4 & {
      width: 25%;
    }
  }

  @include breakpoint($xl) {
    .FlexRow.xlarge-up-3 & {
      width: 33.3333%;
    }

    .FlexRow.xlarge-up-4 & {
      width: 25%;
    }
  }
}
