$self: '.ResourceResult';
$padding-normal: 10px;
$padding-tight: 2px;

.ResourceResults {
  &-header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    margin-left: -$padding-normal;
    margin-right: -$padding-normal;

    @include breakpoint($large) {
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &-title {
    flex: 0 1 auto;
    padding: $padding-normal;
    width: 100%;

    @include breakpoint($medium) {
      flex-grow: 1;
      width: auto;
    }

    p {
      margin-bottom: 0;
    }
  }

  &-viewButtons {
    flex: 0 1 auto;
    padding: $padding-normal;
    width: 100%;

    @include breakpoint($medium) {
      flex-shrink: 1;
      width: auto;
    }

    &Row {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      margin-left: -$padding-tight;
      margin-right: -$padding-tight;
    }

    &Title {
      color: clr(primary-alt);
      flex: 0 1 auto;
      font-family: $header-font-family;
      font-weight: bold;
      padding: $padding-tight;
      padding-right: 1rem;
      width: 100%;

      @include breakpoint($large) {
        flex-grow: 1;
        text-align: right;
        width: auto;
      }
    }

    &Button {
      flex: 0 1 auto;
      padding: $padding-tight;
    }

    .button {
      margin-bottom: 0;

      [class^="fa"] {
        padding-left: 0;
        padding-right: .5rem;
        position: relative;
        transition: none;
      }
    }
  }

  &-showing {
    flex: 0 1 auto;
    padding: $padding-normal;
    width: 100%;

    &Title {
      color: clr(primary-alt);
      font-family: $header-font-family;
      font-size: 1rem;
    }

    @include breakpoint($medium) {
      flex-shrink: 1;
      width: auto;

      &Title {
        display: block;
        width: 100%;
      }
    }

    @include breakpoint($large) {
      &Title {
        display: inline-block;
        width: auto;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  &-view {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$padding-tight;
    margin-right: -$padding-tight;
  }

  &-listView {
    .ResourceResult {
      padding: $padding-tight;
      width: 100%;

      @include breakpoint($medium) {
        width: 50%;
      }
    }
  }

  &-gridView {
    margin-left: -$padding-normal;
    margin-right: -$padding-normal;

    .ResourceResults-sectionTitle {
      padding-left: $padding-normal;
      padding-right: $padding-normal;
    }

    .ResourceResult {
      padding: $padding-normal;
      width: 50%;

      @include breakpoint($medium) {
        width: 20%;
      }

      @include breakpoint($xl) {
        width: 16.6667%;
      }

      #{$self}-container {
        border: none;

        &:hover {
          #{$self}-image {
            @include drop-shadow-hover;

            transform: scale(1.025);
          }

          #{$self}-title {
            color: darken($red, 5%);
          }

          #{$self}-caption, #{$self}-subtitle {
            color: clr(text);
          }
        }
      }

      #{$self}-image {
        @include transition;
        @include drop-shadow;

        display: block;
        width: 100%;
      }

      #{$self}-text {
        background: transparent;
        padding: 1.5rem 0;
        width: 100%;
      }

      .ResourceCategoryIconBlock-icon {
        display: none;
      }
    }

    .ResourceResultVideo {
      @include breakpoint($medium) {
        width: 33.3333%;
      }

      @include breakpoint($large) {
        width: 25%;
      }

      &-image {
        text-align: center;

        span {
          @include breakpoint($medium) {
            font-size: 50px;
          }
        }
      }
    }
  }

  &-sectionTitle {
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  &-line {
    margin-top: 2rem;
  }
}
