$padding-tight: 2px;
.pager {
  color: $blue--dark;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  #pagination-heading {
    font-size: 1rem;
    margin-bottom: 0;
    flex: 0 1 auto;
    font-weight: 400;
    width: auto;
    display: block;
    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  &-summary {
    flex: 0 1 auto;
    width: auto;
    flex-grow: 1;
    color: $gray--dark;
    padding-left: .5rem;

    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  &__items {
    width: 100%;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: -$padding-tight;
    margin-right: -$padding-tight;
    margin-top: 1rem;
    @include breakpoint(medium) {
      margin-top: 0;
      width: auto;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &__item {
    flex: 0 1 auto;
    padding: $padding-tight;

    > a {
      display: block;
      background: $white;
      border: 1px solid $blue--dark;
      line-height: 1;
      padding: .25rem .5rem;
      text-align: center;
      width: 27px;
      height: 27px;
      color: $blue--dark;

      &:hover {
        background: $blue--dark;
        color: $white;
      }
    }

    &.is-active {
      > a {
        background: $blue;
        color: $white;
      }
    }

    &--next {
      font-weight: bold;
      padding-left: .5rem;


      a {
        color: $blue--dark;
        width: auto;
        height: auto;
        background: transparent;
        border: none;

        .fas {
          padding-left: .25rem;
          color: $primary-color;
        }
      }
    }
  }


}
