.IndividualOfficeLocation {
  &-image.lozad[data-loaded=true] {
    opacity: .25;
  }
  a {
    color: $gray--dark;
    @include transition;
    &:hover {
      color: $red;
      text-decoration: underline;
    }
  }
}
