$IndividualOfficeLocation-text: gray !default;
$IndividualOfficeLocation-hoverText: red !default;

.IndividualOfficeLocation {
  &-image.lozad[data-loaded="true"] {
    opacity: .25;
  }

  a {
    color: $IndividualOfficeLocation-text;
    @include transition;

    &:hover {
      color: $IndividualOfficeLocation-hoverText;
      text-decoration: underline;
    }
  }
}
