$FontSize-xxs: rem-calc(12px);
$FontSize-xs: rem-calc(14px);

$header-font-family: $font-family-title;
$header-font-weight: normal;
$header-font-style: normal;
$header-color: $blue--dark;
$header-lineheight: 1.2;
$header-margin-bottom: 0.5rem;

$button-font-family: $font-family-title;
$button-font-weight: 600;
$button-font-style: normal;
$button-base-color: $gray--dark;
$button-base-color-hover: $white;

$fontawesome-family: $font-family-fontawesome;
