$pager-padding-tight: 2px !default;
$pager-color: blue !default;
$pager-summary: blue !default;
$pager-buttonBackground: #fff !default;
$pager-buttonBorder: 1px solid blue !default;
$pager-buttonText: blue !default;
$pager-buttonBackgrounActive: blue !default;
$pager-fontAwesome: pink !default;

.pager {
  color: $pager-color;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  [id^="pagination-heading"] {
    font-size: 1rem;
    margin-bottom: 0;
    flex: 0 1 auto;
    font-weight: 400;
    width: auto;
    display: block;
    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  &-summary {
    flex: 0 1 auto;
    width: auto;
    flex-grow: 1;
    color: $pager-summary;
    padding-left: .5rem;

    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  &-items {
    width: 100%;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: -$pager-padding-tight;
    margin-right: -$pager-padding-tight;
    //margin-top: 1rem;
    @include breakpoint(medium) {
      margin-top: 0;
      width: auto;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &-item {
    flex: 0 1 auto;
    padding: $pager-padding-tight;

    > a {
      display: block;
      background: $pager-buttonBackground;
      border: $pager-buttonBorder;
      line-height: 1;
      padding: .25rem .5rem;
      text-align: center;
      width: 27px;
      height: 27px;
      color: $pager-buttonText;

      &:hover {
        background: $pager-buttonText;
        color: $pager-buttonBackground;
      }
    }

    &.is-active {
      > a {
        background: $pager-buttonBackgrounActive;
        color: $pager-buttonBackground;
      }
    }

    &--next {
      font-weight: bold;
      padding-left: .5rem;


      a {
        color: $pager-buttonText;
        width: auto;
        height: auto;
        background: transparent;
        border: none;

        .fas {
          padding-left: .25rem;
          color: $pager-fontAwesome;
        }
      }
    }
  }

}
