{% if not attributes %}
<div class="form-item">
  <label for="select" class="h3">Select Dropdown:</label>
  <div class="form-item__dropdown">
    <select class="Select" id="select">
      <optgroup label="Option Group:">
{% endif %}
  {% for selection in select %}
    {% include '@atoms/forms/Select/_SelectOption.twig' with {
      select__item: selection.title
    } %}
  {% endfor %}
{% if not attributes %}
      </optgroup>
    </select>
  </div>
</div>
{% endif %}
