.ReusableCalloutStrip {
  padding: 2.25rem 0;
  &-title {
    margin-bottom: 2rem;
  }
  .button  {
    margin-bottom: 0;
  }

  &-right {
    @include breakpoint(large) {
      padding-left: 2rem;
    }
  }
  ul {
    margin-bottom: 0;
  }
}