.ProductCustomVariableOptions {
  padding-top: 2rem;

  .Label {
    margin-bottom: .25rem;
  }

  .Caption {
    font-size: rem-calc(14);
    margin-bottom: .5rem;

    a {
      text-decoration: underline;
    }
  }
}


