.off-canvas {
  .close-button {
    color: clr(primary);

    &:focus, &:focus-within {
      outline: none; // Requested by Melanie. This is bad for accessibility.
    }
  }
}

.OffcanvasMain {
  z-index: 110 !important;
  background: $gray--light;
  width: 95%;
  @include breakpoint($medium) {
    width: 75%;
  }

  .close-button {
    color: clr(primary);

    &:focus, &:focus-within {
      outline: none; // Requested by Melanie. This is bad for accessibility.
    }
  }

  &-container {
    position: relative;
    max-height: 100vh;
    overflow-y: scroll;
    min-height: 100vh;
  }

  &-title {
    margin-bottom: 0;
    height: 35px; // makes this element the same height as the Search element so that the close button doesn't get off layout wise
    line-height: 35px; // vertically centers text
  }

  &-search {
    background: $white;

    .SearchInput {
      margin-right: 2rem;
      padding-left: 15px;
    }

    input {
      background: $gray--light;
    }
  }

  &-buttons {
    margin-top:1rem;
  }

  &-button[class] {
    margin-bottom: 0;
    border-color: $gray--light; // to prevent border glitch on second page of accordion menu
    background: $red;
  }
}
