// Use this font to load any font-face definitions you'd like manually.
// This is not needed if you're placing your font sources in src/fonts/
@font-face {
  font-family: 'Selawik';
  font-style: normal;
  font-weight: normal;
  src: url('./00-base/01-fonts/selawik/Selawik.ttf.woff') format('woff'),
  url('./00-base/01-fonts/selawik/Selawik.ttf.svg#Selawik') format('svg'),
  url('./00-base/01-fonts/selawik/Selawik.ttf.eot'),
  url('./00-base/01-fonts/selawik/Selawik.ttf.eot?#iefix') format('embedded-opentype');
}

// @todo after all components are in, search-replace and make them use font weight, also adjust in the mixins
@font-face {
  font-family: 'Selawik Semibold';
  font-style: normal;
  font-weight: normal;
  src:  url('./00-base/01-fonts/selawik/selawksb.woff') format('woff');
}
